:host {
    display: block;
    background: var(--background-secondary);
    padding: 20px 0;
    flex: 1 1 0;
}

.login {
    display: flex;
    flex-direction: column;
     box-shadow: 0.0625rem 0.125rem 0.6875rem 0 rgba(0, 0, 0, 0.2);
    .login__header {
         background: #ffffff;
        color: var(--primary-default);
        font-family: "Montserrat-SemiBold";
        font-size: 18px;
        padding: 10px 20px;
        font-weight: 400;
        letter-spacing: -0.54px;
        border-bottom: 1px solid #00C853;
    }
    .login__content {
        position: relative;
        display: flex;
        background: #ffffff;
        .login__content__info {
            flex: 7;
            display: flex;
            flex-direction: column;
            padding: 3.125rem 20px;
              background: #00C853;
            position: relative;
            color: #ffffff;
              z-index: 2;
             clip-path: circle(62% at 38% 50%);
            .advantages {
                display: flex;
                flex-direction: column;
                width: 80%;
                padding-top: 1.875rem;
                .advantage {
                    display: flex;
                    align-items: center;
                    padding: 10px 0;
                    .advantage__symbol {
                        background: #ffffff;
                        flex: 0 0 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                    .advantage__text {
                        font-size: 0.9375rem;
                    }
                }
            }
        }
        .login__content__form {
            flex: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
             background: #ffffff;
             padding: 1.25rem;
             width: 100%;
            .signup-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                .form-submit {
                    width: 150px;
                    align-self: flex-end;
                }
            }
        }
    }
}
@media all and (max-width: 992px) {
    .login {
        .login__content {
            .login__content__info {
                clip-path: circle(62% at 30% 50%)
            }
        }
    }
}

@media all and (max-width: 768px) {
    .login {
        .login__content {
            .login__content__info {
                clip-path: circle(62% at 16% 50%)
            }
        }
    }
}
@media all and (max-width: 576px) {
    .login {
        .login__content {
            flex-direction: column;
            .login__content__info {
                clip-path: none;
            }
        }
    }
}