<div class="container" *ngIf="!isMobile">
  <div class="row">
    <div class="col-12">
      <div class="productsCompare">
        <div class="productsCompare__content" *ngIf="!loading else table_loader">

          <div class="arrows">

            <button mat-mini-fab class="arrow --prev" (click)="onPrevProduct()" [disabled]="!hasPrevProduct()">
              <mat-icon inline="true">arrow_forward_ios</mat-icon>
            </button>

            <button mat-mini-fab class="arrow --next" (click)="onNextProduct()" [disabled]="!hasNextProduct()">
              <mat-icon inline="true">arrow_forward_ios</mat-icon>
            </button>

          </div>
        <ng-container *ngTemplateOutlet="table__template"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="swiper-container" *ngIf="isMobile" style="width: 100%" #swiper >
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let product of products;let i=index;let first=first">
        <ng-container *ngTemplateOutlet="table__template"></ng-container>
    </div>
  </div>
  <div class="swiper-pagination"></div>

</div>



<ng-template #table_loader>
  <table-loader></table-loader>
</ng-template>

<ng-template #table__template>
    <table class="table plus-minus productsCompare__content__table">
        <thead>

          <th>
            <div class="th-content --first">
              {{'~bank' | translate | titlecase}}
            </div>
          </th>
          <th *ngFor="let product of visibleProducts">
            <div class="th-content">
                {{product.bankName}}
            </div>
          </th>
        </thead>
        <tbody>

          <tr>
            <td>
              <div class="td-content --first">
                {{'~effectiveRate' | translate | titlecase}}
              </div>
            </td>
            <td *ngFor="let product of visibleProducts">
              <div class="td-content">
                {{product.minRate}} %
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="td-content --first">
                {{'~depositAmount' | translate}}
              </div>
            </td>
            <td *ngFor="let product of visibleProducts">
              <div class="td-content">
                {{product.minAmount }} {{product.currencyCode | lowercase}} - <br> {{product.maxAmount}}
                {{product.currencyCode | lowercase}}
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="td-content --first">
                {{'~liqType' | translate}}
              </div>
            </td>
            <td *ngFor="let product of visibleProducts">
              <div class="td-content">
                {{product.liqType}}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="td-content --first">
                {{'~yourIncome' | translate}}
              </div>
            </td>
            <td *ngFor="let product of visibleProducts">
              <div class="td-content">
                {{product.income}}
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="td-content --first">
                {{'~depositPeriod' | translate}}
              </div>
            </td>
            <td class="td-content" *ngFor="let product of visibleProducts">
              <div class="td-content">
                {{product.minPeriod }} - {{product.maxPeriod}} {{'~month' | translate}}

              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="td-content --first">
                {{'~productName' | translate}}
              </div>
            </td>
            <td *ngFor="let product of visibleProducts">
              <div class="td-content">
                {{product.depositName | valueTranslate}}
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="td-content --first">
                {{'~description' | translate}}

              </div>
            </td>
            <td *ngFor="let product of visibleProducts">
                <div class="td-content --documents" (click)="openDocumentDialog(product.description)">
                    <i class="fas fa-file-pdf"></i>
                </div>

            </td>
          </tr>
          <tr>
            <td>
              <div class="td-content">
                {{'~descriptionPresent' | translate}}

              </div>
            </td>
            <td *ngFor="let product of visibleProducts">
                <div class="td-content --documents" (click)="openDocumentDialog(product.descriptionPresent)">
                    <i class="fas fa-file-pdf"></i>
                </div>

            </td>
          </tr>

          <tr>
              <td>
                <div class="td-content --first">
                  {{'~website' | translate}}
                </div>
              </td>
              <td *ngFor="let product of visibleProducts">
                <div class="td-content">
                  {{product.website}}
                </div>
              </td>
            </tr>

          <tr>
              <td>
                <div class="td-content --first">
                  {{'~withAutoProlong' | translate}}
                </div>
              </td>
              <td *ngFor="let product of visibleProducts">
                <div class="td-content">
                  {{product.withAutoProloing}}
                </div>
              </td>
            </tr>

          <tr>
              <td>
                <div class="td-content --first">
                  {{'~withCapitalisation' | translate}}
                </div>
              </td>
              <td *ngFor="let product of visibleProducts">
                <div class="td-content">
                  {{product.withCapitalisation}}
                </div>
              </td>
            </tr>

          <tr>
              <td>
                <div class="td-content --first">
                  {{'~withRefill' | translate}}
                </div>
              </td>
              <td *ngFor="let product of visibleProducts">
                <div class="td-content">
                  {{product.withRefill}}
                </div>
              </td>
            </tr>

          <tr>
              <td>
                <div class="td-content --first">
                  {{'~withWithdraw' | translate}}
                </div>
              </td>
              <td *ngFor="let product of visibleProducts">
                <div class="td-content">
                  {{product.withWithdraw}}
                </div>
              </td>
            </tr>



        </tbody>
      </table>
</ng-template>