:host {
    display: block;
    min-height: 800px;
}
.productsCompare {
    .productsCompare__content {
        margin-top: 20px;
        .productsCompare__content__table {
                position: relative;

                th:first-child {
                    width: 130px;
                }
                .th-content {
                  img {
                    width: 100px;
                    height: auto;
                  }
                }
                .th-content, .td-content {
                    &.--first {
                        width: 130px;
                    }

                }

        }
    }
}

.arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 90px;
    z-index: 10;
    height: 0;

    .arrow {
        font-size: 18px;
        &.--prev {
          transform: translateX(-25px) rotateY(180deg) ;
        }
        &.--next {
        transform: translateX(25px);
        }
    }
}

@media (max-width: 576px) {
    .productsCompare {
        .productsCompare__content {
            .productsCompare__content__table {
                th:first-child {
                    width: 100px;
                }
                .th-content, .td-content {
                    width: 150px;
                    &.--first {
                        width: 100px;
                    }
                }
            }

        }
    }
    .arrows {
      .arrow {
        &.--prev {
            transform: translateX(0px) rotateY(180deg) ;
          }
          &.--next {
          transform: translateX(0px);
          }
      }
    }
}
