:host {
    display: block;
    color: rgba(0,0,0,.87);
  }
  .component {
    display: flex;
    flex-direction: column;
    align-items: center;
    .component__title {
      font-size: 18px;
    }
    .component__content {

    }
    .component__footer {

      padding-top: 30px;
    }
  }
