<div class="sortBy">
    <mat-form-field class="sort-field">
      <mat-label>{{'~sort' | translate}}</mat-label>
        <mat-select name="sortBy" (ngModelChange)="onSort($event)" [ngModel]="sortState?.orderByColumn">
          <mat-option value="income">{{'~income' | translate}}</mat-option>
          <mat-option value="minRate">{{'~effectiveRate' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
</div>

<div class="cards">
    <ng-container *ngFor="let group of depositGroupProducts">

        <ng-container *ngFor="let product of group?.list;let first=first">
          <div class="card" *ngIf="first || expandedGroupId === group.bankID" [attr.group-id]="group.bankID">
            <div class="card__header">
              <div class="card__header__bank">

                <div class="card__header__bank__img">
                  <img src="./assets/icons/banks/{{product.bankID}}.svg" alt="{{product.bankName}}" [attr.product-img-id]="product.lnID">
                </div>

                <div class="expand" (click)="onExpandGroup(group.bankID)" *ngIf="first"
                  [ngClass]="{'--top' : (expandedGroupId === group.bankID)}">
                  <div class="expand__title">
                    {{'~expandMore' | translate}} {{group.list?.length}} {{'~product' | translate | lowercase}}
                  </div>
                  <div class="expand__icon">
                    <i class="fas fa-chevron-down"></i>
                  </div>
                </div>

              </div>
            </div>
            <div class="card__content">

              <div class="card__content__row ">
                <div class="card__content__row__left">
                  {{product?.depositName | valueTranslate}}
                </div>

                <div class="card__content__row__right text-ellipsis">
                    {{product.minRate}} %
                </div>

              </div>

              <div class="card__content__row ">
                <div class="card__content__row__left">
                  {{'~currency' | translate}}:
                </div>

                <div class="card__content__row__right text-ellipsis">
                  {{product.currencyCode}}

                </div>
              </div>
              <div class="card__content__row ">
                <div class="card__content__row__left">
                    {{'~yourIncome' | translate}}:
                </div>

                <div class="card__content__row__right text-ellipsis">
                    <ng-container *ngIf="product.income">
                        <p>+{{product.income}} {{product.currencyCode}}</p>
                    </ng-container>
                </div>

              </div>
            </div>
            <div class="card__footer">

                <a mat-raised-button
                color="primary" routerLink="/home/deposits/compare"
                [queryParams]="{lnID: product.lnID}"
                >{{'~detailed' | translate}}</a>

                <a mat-raised-button color="accent" [id]="product?.lnID"
                fly-to-cart
                 [disabled]="(canAddProductToCompare(product?.lnID) | async)"
                  (click)="onAddProductToCompare(product)">{{'~addToCart' | translate}}</a>

            </div>
          </div>

        </ng-container>

      </ng-container>

</div>