:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-default);
    width: calc(var(--loan-request-step-done-width));
    height: calc(var(--loan-request-step-done-height));
    overflow: auto;
    position: relative;
}
.requestDone {
    display: flex;
    flex-direction: column;
    align-items: center;
    .requestDone__img {
        width: 6.25rem;
      //  animation-duration: 1s;
    }
    .requestDone__msg {
        color: #ffffff;
        margin: 1.5625rem 0;
        font-size: 1.375rem;
    }
    .requestDone__rate {
        display: flex;
        flex-direction: column;
        align-items: center;
        .requestDone__rate__title {
            color: #ffffff;
        }
    }
}

.formCancel {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: calc(var(--loan-request-step-padding) / 2);
    right: calc(var(--loan-request-step-padding) / 2);
    font-size: 1.25rem;
     width: 100%;
     cursor: pointer;
     color: #ffffff;
}