<div class="component">
  <div class="component__title">{{'~profileUpdate' | translate}}</div>
  <div class="component__content">
    <form #f="ngForm" class="component__content__form" (ngSubmit)="onSubmit()">
      <div class="component__content__form__fields">

            <mat-form-field class="example-full-width">
              <mat-label>{{'~username' | translate}}</mat-label>
              <input matInput readonly onfocus="this.removeAttribute('readonly');"
                placeholder="username" name = "username" ngModel
                required
                >
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>{{'~oldPassword' | translate}}</mat-label>
              <input matInput readonly onfocus="this.removeAttribute('readonly');"
                [type]="hideOldPassword ? 'password': 'text'" name="oldPassword" ngModel
               required
              >
              <mat-icon matSuffix  (click)="hideOldPassword = !hideOldPassword">{{hideOldPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>{{'~newPassword' | translate}}</mat-label>
              <input matInput readonly onfocus="this.removeAttribute('readonly');"
               [type]="hideNewPassword ? 'password': 'text'" name="newPassword" ngModel
               required
               >
              <mat-icon matSuffix  (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>{{'~confirmNewPassword' | translate}}</mat-label>
              <input matInput readonly onfocus="this.removeAttribute('readonly');"
              [type]="confirmNewPassword ? 'password': 'text'" name="confirmNewPassword" ngModel
              required
              >
              <mat-icon matSuffix  (click)="confirmNewPassword = !confirmNewPassword">{{confirmNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <div class="form-error" >{{getErrorMessage('confirmNewPassword')}}</div>

      </div>

      <div class="component__content__form__submit">
        <button mat-raised-button color="accent" type="submit"
          class="login-button" [disabled]="loading"
          [ngClass]="{'is-loading': loading}"
        >{{'~save' | translate}}</button>
      </div>
    </form>

  </div>

</div>