:host {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: #ffffff;
    z-index: calc(var(--header-z-index) + 1);
  }
  .form-group {
    margin-bottom: 0;
  }
  .component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
    .component__title {
      color: #aaaaaa;
      font-weight: bold;
      padding-bottom: 10px;
      font-size: 25px;
    }
    .component__content {
        .component__content__form   {
            display: flex;
            flex-direction: column;
            align-items: center;
            .component__content__form__fields {
                display: flex;
                flex-direction: column;
                font-size: 15px;
            }
            .component__content__form__submit {
                margin-left: 20px;
            }
        }
    }
  }