<div class="component">
  <div class="component__title">{{'~profileUpdate' | translate}}</div>
  <div class="component__content">
    <form #f="ngForm" class="component__content__form" (ngSubmit)="onSubmit()">
      <div class="component__content__form__fields">

            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput readonly onfocus="this.removeAttribute('readonly');"  placeholder="username" name = "username" ngModel>
              <mat-error >Please fill username</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Old password </mat-label>
              <input matInput readonly onfocus="this.removeAttribute('readonly');"  [type]="hideOldPassword ? 'password': 'text'" name="oldPassword" ngModel>
              <mat-icon matSuffix  (click)="hideOldPassword = !hideOldPassword">{{hideOldPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error >Please fill password</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>New password </mat-label>
              <input matInput readonly onfocus="this.removeAttribute('readonly');"  [type]="hideNewPassword ? 'password': 'text'" name="NewPassword" ngModel>
              <mat-icon matSuffix  (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error >Please fill new password</mat-error>
            </mat-form-field>

      </div>

      <div class="component__content__form__submit">
        <button mat-raised-button color="accent" type="submit"  class="login-button" [disabled]="isLoading"
        >{{'~save' | translate}}</button>
      </div>
    </form>

  </div>

</div>