
    <div class="items-group">
        <div class="card" *ngFor="let item of items" >
            <div class="card__icon">
            </div>

            <div class="card__content">
              <div class="card__content__header">
                <div class="card__content__header__bankName">
                </div>
                <div class="card__content__header__name">
                </div>
              </div>
              <div class="card__content__features">


                <div class="card__content__features__info">
                  <div class="card__content__features__info__key">
                  </div>
                  <div class="card__content__features__info__value">
                  </div>
                </div>

                <div class="card__content__features__info">
                  <div class="card__content__features__info__key">
                  </div>
                  <div class="card__content__features__info__value">
                  </div>
                </div>

                <div class="card__content__features__info" >
                  <div class="card__content__features__info__key">
                  </div>
                  <div class="card__content__features__info__value">
                  </div>
                </div>

                <div class="card__content__features__info" >
                  <div class="card__content__features__info__key">
                  </div>
                  <div class="card__content__features__info__value">
                  </div>
                </div>


                <div class="card__content__features__info">
                  <div class="card__content__features__info__key">
                  </div>
                  <div class="card__content__features__info__value">
                  </div>
                </div>

              </div>

            </div>


            <div class="card__actions">
                <div class="action-button"></div>
                <div class="action-button"></div>
            </div>
          </div>
    </div>
