:host {
    display: block;
    padding: 58px 0;
    min-height: 200px;
    background: var(--background-secondary);
}
.section {
    .section__title {
        font-size: 25px;
        font-family: 'Montserrat-SemiBold';
        letter-spacing: -0.9px;
        font-weight: 400;
    }
    .section__content {}
}