<div class="page"  *ngIf="countdown">
  <div class="page__content">
    <div class="page__content__icon">
      <!-- <i class="fas fa-smile-wink"></i> -->
      <img src="./assets/icons/smile-secondary.png">
    </div>
    <div class="page__content__text">
          <div class="page__content__text__primary">
            {{'~infoIsLoading' | translate}} ...
          </div>
    </div>

    <div class="page__content__countdown">
        <b> {{countdown?.days}} </b> gün <b>{{countdown?.hours}}</b> saat <b>{{countdown.minutes}}</b> dəqiqə <b>{{countdown?.seconds}}</b> saniyə
    </div>

  </div>

</div>