:host {
    display: block;
    width: 100%;
    padding-top: 2.5625rem;
    padding-bottom:  2.5625rem;
    background: var( --primary-default);
}
.brand-logo {
    width: 5.75rem;
}
.link {
    font-size: 0.6875rem;
    color: #ffffff;
    margin-bottom: 0.25rem;
    cursor: pointer;
}
.social-follow {
    .social-follow__title {
        font-size: 0.6875rem;
        color: #ffffff;
        margin-bottom: 0.8125rem;
    }
    .social-follow__items {
        display: flex;
        .follow-item {
            background: #4a73c0;
            color: #ffffff;
            border-radius: 50%;
            margin-right: 0.5625rem;
            width: 1.9375rem;
            height: 1.9375rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &.--twitter {
                color: #1EA1F2;
            }
            &.--instagram {
                color: #B0468A;
            }
            &.--linkedin {
              color: #0077B5;
            }
        }
    }
}
.address {
    margin-top: 2.9375rem;
    font-size: 0.5625rem;
    color: #ffffff;
}

@media (max-width: 768px) {
    .brand-logo {
        width: 40px;;
    }
    .social-follow {
        margin-top: 20px;
    }
}
