<div class="container">
    <div class="row">
      <div class="col-3 col-md-2 mb-3 mb-md-0">
        <img class="brand-logo" src="./assets/images/smile.png">
      </div>
      <div class="col-4 col-md-2">
        <a class="link d-block --about" href="./assets/documents/PLUSMINUS_Presentation.pdf" target="_blank" >{{'~about-project' | translate}}</a>
        <a class="link d-block --contacts" >{{'~contacts' | translate}} </a>
        <a class="link d-block" >{{'~forBanks' | translate}} </a>

      </div>
      <div class="col-5 col-md-3 ml-auto">
          <div class="social-follow">

              <div class="social-follow__title">
                {{'~follow-us' | translate}}
              </div>

              <div class="social-follow__items">
                <a class="follow-item" href=" https://www.instagram.com/plusminus_az" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>

                <a class="follow-item" href=" https://www.facebook.com/plusminus.az" target="_blank">
                  <i class="fab fa-facebook-f"></i>
              </a>

                <a class="follow-item" href="https://www.linkedin.com/company/plusminus-az" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
              </div>
          </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <div class="address">
          {{'~company-address' | translate}}
        </div>
      </div>
    </div>
  </div>
