
 <div class="slide__cover">
  <!-- <img [src]="slide.coverPhoto" /> -->
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="slide" *ngIf="slide">

        <div class="slide__content">
          <div class="slide__content__title" [translate]="slide.title"></div>
          <div class="slide__content__shortInfo" [translate]="slide.shortInfo"></div>
          <div class="slide__detailed">
            <button (click)="onRequestLoansFromAllBanks()" >{{ '~detailed' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
