:host {
  display: block;
  width: 100vw;
  position: relative;
}

.slide__cover {
  width: 100vw;
  height: 22.5rem;
  position: absolute;
  left: 0;
  background-image: url("../../../../../assets/images/PLUSMINUS_HOMEPAGE_BANNER.jpg");
  background-color: var(--primary-default);
  background-repeat: no-repeat;
  background-position-x: center;
  @media (max-width: 576px) {
  //  background-image: none;
   // background: var(--primary-default);
    background-position-x: -1011px;
    background-position-y: -24px;
  }
}

.slide {
  position: relative;
  height: 22.5rem;

  .slide__content {
    padding-top: 7.5625rem;
    padding-bottom: 4.1875rem;
    .slide__content__title {
      position: relative;
      z-index: 1;
      color: #ffffff;
      font-family: 'Montserrat-SemiBold';
      font-size: 2.25rem;
      font-weight: 400;
      letter-spacing: -0.0675rem;
    }
    .slide__content__shortInfo {
      position: relative;
      z-index: 1;
      color: #ffffff;
      font-family: 'Montserrat-Medium';
      font-size: 0.875rem;
      font-weight: 400;
      max-width: 19.375rem;
      letter-spacing: -0.0088rem;
    }
    .slide__detailed {
      margin-top: 4.125rem;
      margin-left: 10.625rem;
      position: relative;
      z-index: 1;
      button {
        width: 11.375rem;
        border: 1px solid #fff2c2;
        // background: transparent;
        // width: 9.375rem;
        // height: 2.1875rem;
        // color: #fff2c2;
        // border: 0.0625rem solid #fff2c2;
        // font-family: Montserrat;
        // font-size: 0.75rem;
        // font-weight: 400;
        // /* Text style for "П, одробне" */
        // letter-spacing: -0.0075rem;
        // text-align: center;
        // padding: 0.625rem 2.375rem;
      }
    }
  }
}
