:host {
    display: block;
    background: var(--background-secondary);
    padding: 20px 0;
    flex: 1 1 0;
    width: 100%;
}

.active {
    border-bottom: 1px solid var(--primary-default);
}
.card {
    position: absolute;
    top: 0;
    right: -135px;
    .card__header {
        padding: 10px;
        font-weight: bold;
        background: var(--secondary-default);
    }
    .card__content {
        padding: 10px;
        .card__content__row {
            display: flex;
            padding:5px 0;
            cursor: pointer;
            p {
                font-size: 13px;
            }
            b {
                font-size: 13px;
            }
        }
    }
}

.component {
    display: flex;
    flex-direction: column;
    width: 100%;
     box-shadow: 0.0625rem 0.125rem 0.6875rem 0 rgba(0, 0, 0, 0.2);
    .component__header {
         background: var(--primary-default);
        color: #ffffff;
        font-family: "Montserrat-SemiBold";
        font-size: 18px;
        padding: 15px 20px;
        font-weight: 400;
        letter-spacing: -0.54px;
        border-bottom: 1px solid #ffffff;
    }
    .component__content {
        position: relative;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        width: 100%;
        overflow: auto;
        h3 {
            padding: 5px 20px;
            color: var(--secondary-default);
            cursor: pointer;
        }
        .table {
            box-shadow: none;
            table-layout: auto;
            &.--customers {
                td {
                    text-align: left;
                    .td-content {
                        text-align: center;
                    }
                    &.information {
                        .actions {
                            display: flex;
                            button {

                            }
                        }
                        // button {
                        //     width: 100%;
                        //     font-size: 15px;
                        // }
                    }
                }
            }
        }
    }
}

.arrows {
    width: auto;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: absolute;
    top: 3px;
    z-index: 998;
    height: 0;
    right: 24px;

    .arrow {
        font-size: 18px;
       cursor: pointer;

        &.--prev {
          transform: translateX(-25px) rotateY(180deg) ;
        }
        &.--next {
          cursor: pointer;
       // transform: translateX(25px);
        }
    }
  }