<div class="container">
    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="component">
            <div class="component__header">
                <p>{{'~forBanks' | translate}}</p>
            </div>

            <div class="component__content">
                <h3>{{'~orders' | translate}}</h3>

                <table class="table plus-minus --customers" *ngIf="!loading else table_loader">
                  <thead>
                    <th>{{'~cusName' | translate}} </th>
                    <th> {{'~requestAmt' | translate}} </th>
                    <th>{{'~income' | translate}}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of orders">
                      <td>{{order.cusName}}</td>
                      <td>{{order.requestAmt}}</td>
                      <td>{{order.income}}</td>
                    </tr>
                  </tbody>
                </table>

            </div>
        </div>

      </div>
    </div>

  </div>

  <ng-template #table_loader>
    <table-loader></table-loader>
  </ng-template>