<div class="container">
    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="component">
            <div class="component__header">
                <p>{{'~forBanks' | translate}}</p>
            </div>

            <div class="arrows" >
              <button mat-mini-fab class="arrow --prev" (click)="onPrevRateScroll()" >
                  <mat-icon inline="true">arrow_forward_ios</mat-icon>
                </button>
              <button mat-mini-fab class="arrow --next" (click)="onNextRateScroll()" >
                  <mat-icon inline="true">arrow_forward_ios</mat-icon>
                </button>
            </div>

            <div class="component__content" id="customers-table">
                <h3 (click)="getOrderList()">{{'~orders' | translate}}</h3>


                <table class="table plus-minus --customers" *ngIf="!loading else table_loader">
                  <thead>
                  <th> {{'~orderDateTime' | translate}} </th>
                    <th>{{'~rqId' | translate}} </th>
                    <th>{{'~cusName' | translate}} </th>
                    <th>{{'~age' | translate}}</th>
                    <th> {{'~requestAmt' | translate}} </th>
                    <th> {{'~requestPeriod' | translate}} </th>
                    <th>{{'~income' | translate}}</th>
                    <th>{{'~otherMonthlyPayment' | translate}}</th>
                    <th>{{'~information' | translate}}</th>

                  </thead>
                  <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{order.dateTime}}</td>
                      <td>{{order.rqId}}</td>
                      <td>{{order.cusName}}</td>
                      <td>{{order.age}}</td>
                      <td>
                        <div class="td-content">
                            {{order.requestAmt}}
                            {{order.currencyCode}} <br>
                        </div>
                      </td>
                      <td>{{order.requestPeriod}} {{'~month' | translate}}</td>

                      <td>
                          <div class="td-content">
                              {{order.income}}
                              {{order.currencyCode}} <br>
                              <span *ngIf="order.official"> ({{'~official' | translate}} <span *ngIf="order.voen">,{{'~voen' | translate}}</span>) <br> </span>
                              <span *ngIf="order.unOfficial">({{'~unOfficial' | translate}} <span *ngIf="order.voen">,{{'~voen' | translate}}</span>) <br></span>

                          </div>
                      </td>
                      <td>{{order.guarantor}}</td>
                      <td class="information">


                          <div class="actions">
                              <a mat-icon-button
                              color="primary"
                              title="{{'~contactNumber' | translate}}"
                              (click)="onCustomerContactPopup(order, $event.target)"
                               >
                                 <mat-icon>phone</mat-icon>
                              </a>

                              <a mat-icon-button
                              title="{{'~called' | translate}}"
                              [color]="order.called ? 'accent' : 'primary'"
                              (click)="onCustomerNotePopup(order, $event.target)"
                           >
                              <mat-icon>phone_in_talk</mat-icon>
                             </a>

                              <a mat-icon-button
                              [color]="'warn'"
                              title="{{'~cancelOrder' | translate}}"
                              (click)="onCancelOrder(order)"
                           >
                              <mat-icon>cancel</mat-icon>
                             </a>

                              <!-- <a mat-icon-button
                              color="accent"
                              [matBadge]="order.called ? 1 : ''" matBadgePosition="after"
                              matBadgeColor="warn"
                              (click)="onCustomerNotePopup(order, $event.target)"
                           >
                              <mat-icon>phone_in_talk</mat-icon>
                             </a> -->


                          </div>
                        </td>


                    </tr>
                  </tbody>
                </table>

            </div>
        </div>

      </div>
    </div>

  </div>

  <ng-template #table_loader>
    <table-loader></table-loader>
  </ng-template>