<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="exchange-rates-preview">
        <div class="exchange-rates-preview__title">
            {{'~favorableRate' | translate}}
        </div>
        <div class="exchange-rates-preview__table">
          <ng-container *ngIf="favorableCurrencies else favorable_rates_loader">
           <favorable-rates-preview-table  *ngFor="let rate of favorableCurrencies;let i = index" [currency] = "rate" [index]="i"></favorable-rates-preview-table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="exchange-rate-visualize">
            <exchange-rate-visualize></exchange-rate-visualize>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="exchange-rates-full">
          <div class="arrows">

              <button mat-mini-fab class="arrow --next" >
                  <mat-icon inline="true">arrow_forward_ios</mat-icon>
                </button>

          </div>

        <div class="exchange-rates-full__table">

           <ng-container *ngIf="allCurrencies && allCurrencies[0] else all_rates_loader">
              <table class="table" >
                  <tr>
                    <th class="--borderRight">
                      <div class="th-content --bank ">
                        {{'~bank' | translate}}
                      </div>
                    </th>
                    <th *ngFor="let rate of rateList" colspan="2" class="--borderRight">
                      <div class="th-content">
                        <div class="rateValue">{{rate}} </div>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th></th>
                    <ng-container *ngFor="let rate of rateList">
                        <th>
                           <div class="th-content">
                             <div class="rateType">
                               <div class="rateType__name">
                                  {{'~buying' | translate | titlecase }}
                               </div>
                               <div class="rateType__sorting">
                                  <span>
                                      <mat-icon>keyboard_arrow_up</mat-icon>
                                    </span>
                                    <span>
                                       <mat-icon>keyboard_arrow_down</mat-icon>
                                    </span>
                               </div>
                             </div>
                           </div>
                        </th>
                        <th class="pl-0 --borderRight">
                            <div class="th-content">
                                <div class="rateType">
                                  <div class="rateType__name">
                                     {{'~selling' | translate | titlecase }}
                                  </div>
                                  <div class="rateType__sorting">
                                     <span>
                                         <mat-icon>keyboard_arrow_up</mat-icon>
                                       </span>
                                       <span>
                                          <mat-icon>keyboard_arrow_down</mat-icon>
                                       </span>
                                  </div>
                                </div>
                              </div>
                        </th>
                    </ng-container>
                  </tr>
                  <tbody >
                    <tr *ngFor="let currency of allCurrencies">
                      <td class="--borderRight">
                        <div class="td-content --bank">
                           {{currency?.bankName}}
                        </div>
                      </td>
                      <ng-container  *ngFor="let rate of rateList">
                          <td >
                              <div class="td-content --rate">
                                  <div class="buyRate">{{currency.bankCurrRate.CASH[0][rate]?.sellRate}}</div>
                              </div>
                            </td>
                          <td class="sell --borderRight pl-0">
                              <div class="td-content --rate">
                                  <div class="sellRate">{{currency.bankCurrRate.CASH[0][rate]?.buyRate}}</div>
                              </div>
                            </td>
                      </ng-container>

                    </tr>
                  </tbody>
                </table>
           </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #favorable_rates_loader>
  <table-loader></table-loader>
</ng-template>

<ng-template #all_rates_loader>
  <table-loader></table-loader>
</ng-template>
