<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="exchange-rates-preview">
        <div class="exchange-rates-preview__title">
            {{'~favorableRate' | translate}}
        </div>
        <div class="exchange-rates-preview__table">
           <favorable-rates-preview-table  *ngFor="let rate of favorableCurrencies;let i = index" [currency] = "rate" [index]="i"></favorable-rates-preview-table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="exchange-rates-full">
        <div class="exchange-rates-full__table">
            <table class="table" *ngIf="allCurrencies && allCurrencies[0]">
                <thead>
                  <th>
                    <div class="th-content --bank">
                      {{'~bank' | translate}}
                    </div>
                  </th>
                  <th *ngFor="let rate of rateList">
                    <div class="th-content">
                      <div class="rate">
                        <div class="rate__value">
                            {{rate}}
                        </div>
                        <div class="rate__types">
                          <div class="rate__types__buy">
                            <div class="rate__types__buy__title">
                                {{'~buying' | translate | titlecase }}
                            </div>
                            <div class="rate__types__buy__sorting">
                                <span>
                                  <mat-icon>keyboard_arrow_up</mat-icon>
                                </span>
                                <span>
                                   <mat-icon>keyboard_arrow_down</mat-icon>
                                </span>
                            </div>
                          </div>
                          <div class="rate__types__sell">
                              <div class="rate__types__sell__title">
                                  {{'~selling' | translate | titlecase }}
                              </div>
                              <div class="rate__types__sell__sorting">
                                  <span>
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                  </span>
                                  <span>
                                     <mat-icon>keyboard_arrow_down</mat-icon>
                                  </span>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let currency of allCurrencies">
                    <td>
                      <div class="td-content --bank">
                         <span class="location-icon"><i class="fas fa-map-marker-alt"></i></span> {{currency?.bankName}}
                      </div>
                    </td>
                    <td  *ngFor="let rate of rateList">
                      <div class="td-content --rate">
                        <div class="sellRate">{{currency.bankCurrRate.CASH[0][rate]?.buyRate}}</div>
                        <div class="buyRate">{{currency.bankCurrRate.CASH[0][rate]?.sellRate}}</div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>
