<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="banner-wrapper --deposits">

     <div class="container custom">

        <div class="row">
            <div class="col-12">
               <div class="banner">
                   <div class="banner__title">
                     <div class="banner__title__top">
                     </div>
                     <div class="banner__title__bottom">
                       {{'~deposits' | translate}}
                     </div>
                   </div>
                   <div class="container-fluid banner__fields p-0">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                            <div class="slider-group">
                                <mat-form-field class="w-100 banner__field" appearance="outline" >
                                    <input  matInput name="slideValue" type="number" placeholder="{{'~depositAmount' | translate}}"
                                      [(ngModel)]="depositFilter.depositAmount">
                                  </mat-form-field>

                                  <mat-slider class="slider" color="primary" [max]="'100000'" [min]="'0'" [step]="'1000'" ngModel
                                    name="depositAmount" [(ngModel)]="slideValue" (input)="onSlideMove($event)">
                                  </mat-slider>
                            </div>
                        </div>

                        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                            <mat-form-field appearance="outline"  class="banner__field w-100">
                                <mat-select  name="depositCurrency" [(ngModel)]="depositFilter.depositCurrency" class="form-field">
                                  <mat-option *ngFor="let option of currCodes$ | async"
                                  [value]="option.value"
                                  >{{option.label}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="f?.controls['depositCurrency']?.invalid">{{getErrorMessage('depositCurrency')}}</mat-error>

                              </mat-form-field>
                        </div>

                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">

                        <mat-form-field appearance="outline"  class="banner__field w-100">
                            <mat-select  name="depositPeriod"
                            [(ngModel)]="depositFilter.depositPeriod"
                            class="form-field" placeholder="{{'~depositPeriod' | translate }}">
                              <mat-option *ngFor="let period of (depositPeriods$  | async)" [value]="period?.periodId"> {{period?.period}}
                              </mat-option>

                            </mat-select>
                            <mat-error *ngIf="f?.controls['depositPeriod']?.invalid">{{getErrorMessage('depositPeriod')}}</mat-error>

                          </mat-form-field>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">

                           <button mat-raised-button color="primary"
                           class="filter-submit" type="submit"
                           [ngClass]="{'is-loading': loading$ | async}"
                           [disabled]="loading$ | async"
                           >{{'~searchDeposit' | translate}} </button>

                        </div>
                    </div>


                   </div>

            </div>
          </div>
        </div>


      </div>
  </div>

  <div class="container custom">
      <div class="row mt-4">
          <div class="col-12">
            <div class="products__table">
              <div id="products-table-filter" class="products__table__filter">

                  <button-toggle-group class="mb-2">

                    <div class="banner-filter-button-toggle-group-container">
                        <button-toggle class="button-toggle-wrapper" [(ngModel)]="depositFilter.withCapitalisation" name="withCapitalisation">
                            <span>{{'~withCapitalisation' | translate |titlecase}} </span>
                        </button-toggle>

                          <button-toggle class="button-toggle-wrapper" [(ngModel)]="depositFilter.withWithdraw" name="withWithdraw">
                            <span>{{'~withWithdraw' | translate |titlecase}} </span>
                        </button-toggle>

                          <button-toggle class="button-toggle-wrapper" [(ngModel)]="depositFilter.withRefill" name="withRefill">
                            <span>{{'~withRefill' | translate |titlecase}} </span>
                        </button-toggle>
                    </div>

                </button-toggle-group>

              </div>
            </div>
          </div>


        </div>
  </div>

</form>
