<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="loanRequest__form__step__item">
      <div class="loanRequest__form__step__item__header">
        <div class="loanRequest__form__step__item__header__title">
          {{'~smsCodeSent' | translate }} ( {{firstStepData?.gsm}} ) <br>
          {{'~pleaseFillCode' | translate }}
        </div>
        <div class="loanRequest__form__step__item__header__subtitle">
          {{'~step' | translate | titlecase}} 2/4
        </div>
      </div>
      <div class="loanRequest__form__step__item__content">
        <div class="otpVerify">
            <mat-form-field appearance="outline" class="otpInput">
                <input matInput placeholder="*" (keyup)="onKeyUp(second)" (focus)="onFocus('first')"  ngModel name="first" type="password" maxlength="1" required>
              </mat-form-field>

            <mat-form-field appearance="outline" class="otpInput">
                <input matInput placeholder="*" (keyup)="onKeyUp(third)" (focus)="onFocus('second')" ngModel name="second" #second type="password" maxlength="1" required>
              </mat-form-field>

            <mat-form-field appearance="outline" class="otpInput">
                <input matInput placeholder="*" (keyup)="onKeyUp(fourth)" (focus)="onFocus('third')" ngModel name="third" #third type="password" maxlength="1" required>
              </mat-form-field>

            <mat-form-field appearance="outline" class="otpInput">
                <input matInput placeholder="*" (keyup)="onKeyUp(submitBtn)" (focus)="onFocus('fourth')"  ngModel name="fourth" #fourth type="password" maxlength="1" required>
              </mat-form-field>
        </div>
      </div>
      <div class="loanRequest__form__step__item__footer">
        <div class="loanRequest__form__step__item__footer__next">
          <button mat-raised-button color="primary" #submitBtn type="submit" [ngClass]="{'is-loading': loading}">{{'~next' | translate | titlecase}} </button>
        </div>
      </div>
    </div>

    </form>