<div class="container">
  <div class="row">
    <div class="col-12">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value.toString().toLowerCase())" placeholder="Filter">
          </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="productsTable">
        <table class="table plus-minus deposits" *ngIf="!loading else table_loader">
               <thead>
                  <th class="--expand"> </th>
                  <th [orderByColumn]="'bankName'"  [sortState] = "sortState" (sortChange)="onSortChange($event)">
                      <div class="th-content --bank ">
                        {{'~bank' | translate}}
                        <div class="tableSorting">
                            <span class="tableSorting__arrow --top">
                               <i class="fas fa-caret-down"></i>
                              </span>
                              <span class="tableSorting__arrow --down">
                                <i class="fas fa-caret-down"></i>
                              </span>
                         </div>
                      </div>
                    </th>

                    <th  [orderByColumn]="'depositName'"  [sortState] = "sortState" (sortChange)="onSortChange($event)">
                        <div class="th-content">
                            {{'~depositName' | translate}}
                            <div class="tableSorting">
                                <span class="tableSorting__arrow --top">
                                   <i class="fas fa-caret-down"></i>
                                  </span>
                                  <span class="tableSorting__arrow --down">
                                    <i class="fas fa-caret-down"></i>
                                  </span>
                             </div>
                        </div>
                    </th>

                    <th [orderByColumn]="'minRate'"  [sortState] = "sortState" (sortChange)="onSortChange($event)">
                      <div class="th-content" >
                          {{'~ratePerYear' | translate}}
                          <div class="tableSorting">
                              <span class="tableSorting__arrow --top">
                                 <i class="fas fa-caret-down"></i>
                                </span>
                                <span class="tableSorting__arrow --down">
                                  <i class="fas fa-caret-down"></i>
                                </span>
                           </div>
                      </div>
                    </th>


                    <th [orderByColumn]="'liqType'"  [sortState] = "sortState" (sortChange)="onSortChange($event)">
                      <div class="th-content">
                          {{'~liqType' | translate}}
                      </div>
                    </th>

                    <th [orderByColumn]="'income'"  [sortState] = "sortState" (sortChange)="onSortChange($event)">
                      <div class="th-content">
                          {{'~yourIncome' | translate}}
                          <div class="tableSorting">
                              <span class="tableSorting__arrow --top">
                                 <i class="fas fa-caret-down"></i>
                                </span>
                                <span class="tableSorting__arrow --down">
                                  <i class="fas fa-caret-down"></i>
                                </span>
                           </div>
                      </div>
                    </th>

                    <th >
                      <div class="th-content">
                          {{'~currencyCode' | translate}}

                      </div>
                    </th>

                    <th></th>
               </thead>

                <tbody>

                      <ng-container *ngFor="let group of filteredGroupProducts">

                        <ng-container  *ngFor="let product of group?.list;let first=first">
                          <tr *ngIf="first || expandedGroupId === group.bankID">

                            <td class="p-0">
                              <div class="expand-icon"   (click)="onExpandGroup(group.bankID)" *ngIf="first"
                                 [ngClass]="{'--top' : (expandedGroupId === group.bankID)}">
                                <i class="fas fa-chevron-down"></i>
                              </div>
                            </td>

                            <td class="pl-0">
                              <div  *ngIf="first" class="td-content products__table__content__bank">
                                <div class="products__table__content__bank__icon" >
                                  <img  src="./assets/icons/banks/{{product.bankID}}.svg" alt="{{product.bankName}}" [attr.product-img-id]="product.dpID">
                               </div>
                              </div>

                            </td>

                            <td>
                              <div class="td-content">
                                  {{product?.depositName | valueTranslate}}
                              </div>
                            </td>

                            <td>
                              <div class="td-content">
                                  {{product.minRate}} %
                              </div>
                            </td>

                            <td>
                              <div class="td-content">
                                  {{product.liqType}}
                              </div>
                            </td>

                            <td>
                              <div class="td-content">
                                  <p>+{{product.income}} {{product.currencyCode}}</p>
                              </div>
                            </td>

                            <td>
                              <div class="td-content">
                                  <p>+{{product.currencyCode}}</p>
                              </div>
                            </td>

                            <td class="pl-1 pr-1">
                              <div class="td-content row-actions">

                                  <button mat-raised-button
                                  color="primary"
                                  ><a href="{{product.website}}" target="_blank">{{'~visit' | translate}}</a></button>

                                <button mat-raised-button color="accent" [id]="product?.dpID"
                                 fly-to-cart
                                  [disabled]="(canAddProductToCompare(product?.dpID) | async)"
                                  (click)="onAddProductToCompare(product)">{{'~addToCart' | translate}}</button>

                              </div>

                            </td>

                          </tr>
                        </ng-container>

                      </ng-container>

                </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #table_loader>
    <table-loader></table-loader>
</ng-template>
