<deposits-filter (searchSubmit)="getListDepositGroupProducts($event, true)"></deposits-filter>

<div class="container custom">
  <div class="row">
    <div class="col-12">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value.toString().toLowerCase())" placeholder="{{'~search' | translate}}">
          </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="productsTable" *ngIf="isLGSize">
        <table class="table plus-minus deposits" *ngIf="!loading else table_loader">
               <thead>
                  <th [orderByColumn]="'bankName'"  [sortState] = "sortState" (sortChange)="onSortChange($event)">
                      <div class="th-content --bank ">
                        {{'~bank' | translate}}
                        <div class="tableSorting">
                            <span class="tableSorting__arrow --top">
                               <i class="fas fa-caret-down"></i>
                              </span>
                              <span class="tableSorting__arrow --down">
                                <i class="fas fa-caret-down"></i>
                              </span>
                         </div>
                      </div>
                    </th>

                    <th  [orderByColumn]="'depositName'" >
                        <div class="th-content">
                            {{'~depositName' | translate}}
                            <!-- <div class="tableSorting">
                                <span class="tableSorting__arrow --top">
                                   <i class="fas fa-caret-down"></i>
                                  </span>
                                  <span class="tableSorting__arrow --down">
                                    <i class="fas fa-caret-down"></i>
                                  </span>
                             </div> -->
                        </div>
                    </th>

                    <th [orderByColumn]="'minRate'"  [sortState] = "sortState" (sortChange)="onSortChange($event)">
                      <div class="th-content" >
                          {{'~ratePerYear' | translate}}
                          <div class="tableSorting">
                              <span class="tableSorting__arrow --top">
                                 <i class="fas fa-caret-down"></i>
                                </span>
                                <span class="tableSorting__arrow --down">
                                  <i class="fas fa-caret-down"></i>
                                </span>
                           </div>
                      </div>
                    </th>

                    <th [orderByColumn]="'minPeriod'"  [sortState] = "sortState" (sortChange)="onSortChange($event)">
                      <div class="th-content" >
                          {{'~period' | translate}}
                          <div class="tableSorting">
                              <span class="tableSorting__arrow --top">
                                 <i class="fas fa-caret-down"></i>
                                </span>
                                <span class="tableSorting__arrow --down">
                                  <i class="fas fa-caret-down"></i>
                                </span>
                           </div>
                      </div>
                    </th>

                    <th>
                      <div class="th-content">
                          {{'~currencyCode' | translate}}
                      </div>
                    </th>

                    <th [orderByColumn]="'liqType'"  [sortState] = "sortState" (sortChange)="onSortChange($event)">
                      <div class="th-content">
                          {{'~liqType' | translate}}
                      </div>
                    </th>

                    <th [orderByColumn]="'income'"  [sortState] = "sortState" (sortChange)="onSortChange($event)">
                      <div class="th-content">
                          {{'~yourIncome' | translate}}
                          <div class="tableSorting">
                              <span class="tableSorting__arrow --top">
                                 <i class="fas fa-caret-down"></i>
                                </span>
                                <span class="tableSorting__arrow --down">
                                  <i class="fas fa-caret-down"></i>
                                </span>
                           </div>
                      </div>
                    </th>



                    <th></th>
               </thead>

                <tbody>

                      <ng-container *ngFor="let group of filteredGroupProducts">

                        <ng-container  *ngFor="let product of group?.list;let first=first">
                          <tr *ngIf="first || expandedGroupId === group.bankID">



                            <td class="pl-0">
                              <div  *ngIf="first" class="td-content products__table__content__bank">
                                <div class="products__table__content__bank__icon" >
                                  <img  src="./assets/icons/banks/{{product.bankID}}.svg" alt="{{product.bankName}}" [attr.product-img-id]="product.dpID">
                                  <ng-container *ngIf="group.list?.length > 1">
                                      <div class="productExpand" (click)="onExpandGroup(group.bankID)" *ngIf="first"
                                        [ngClass]="{'--top' : (expandedGroupId === group.bankID)}">
                                        <div class="productExpand__title">
                                          {{'~expandMore' | translate}} {{group.list?.length - 1}} {{'~product' | translate | lowercase}}
                                        </div>
                                        <div class="productExpand__icon">
                                          <i class="fas fa-chevron-down"></i>
                                        </div>
                                      </div>
                                    </ng-container>
                                </div>
                              </div>

                            </td>

                            <td>
                              <div class="td-content">
                                  {{product?.depositName | valueTranslate}}
                              </div>
                            </td>

                            <td>
                              <div class="td-content">
                                  <ng-container *ngIf="product.minRate">
                                      {{product.minRate}} %
                                  </ng-container>
                              </div>
                            </td>

                            <td>
                              <div class="td-content">
                                <ng-container *ngIf="product.minPeriod">
                                    {{product.minPeriod}} {{'~month' | translate}}
                                </ng-container>

                              </div>
                            </td>

                            <td>
                              <div class="td-content">
                                  <p>{{product.currencyCode}}</p>
                              </div>
                            </td>

                            <td>
                              <div class="td-content">
                                  {{product.liqType}}
                              </div>
                            </td>

                            <td>
                              <div class="td-content">
                                <ng-container *ngIf="product.income">
                                    <p>+{{product.income | number:'':'fr-FR'}} {{product.currencyCode}}</p>
                                </ng-container>
                              </div>
                            </td>



                            <td class="pl-1 pr-1">
                              <div class="td-content row-actions">

                                  <a mat-raised-button
                                  color="primary" class="primary"
                                  href="{{product.website}}" target="_blank" rel="noopener"
                                  >{{'~visit' | translate}}</a>

                                <a mat-raised-button color="accent" [id]="product?.dpID"
                                 fly-to-cart
                                  [disabled]="(canAddProductToCompare(product?.dpID) | async)"
                                  (click)="onAddProductToCompare(product)">{{'~addToCart' | translate}}</a>

                              </div>

                            </td>

                          </tr>
                        </ng-container>

                      </ng-container>

                </tbody>
        </table>
      </div>
      <ng-container *ngIf="!isLGSize">
          <deposits-cards (sortChange)="onSortChange($event)"  [depositGroupProducts]="filteredGroupProducts"></deposits-cards>
        </ng-container>
    </div>
  </div>
</div>

<ng-template #table_loader>
    <table-loader></table-loader>
</ng-template>
