:host {
    display: block;
    flex: 1 1 0;
  }
  .fiter-field {
    font-size: 13px;
  }
  table.deposits {
    min-height: 500px;
    .th-content {
      &.--bank {
        justify-content: flex-start;
      }
    }
    .td-content {

      &.products__table__content__bank {
        width: 112px;
        margin: auto;
        text-align: left;
      }
      .productName {
        font-family: "Montserrat-SemiBold";
        font-size: 1.125rem;
        font-weight: 400;
        letter-spacing: -0.54;
        color: var(--primary-default);
        text-align: left;
        margin-bottom: 1.75rem;
      }
      .productInfo {
        display: flex;
        justify-content: space-between;
        .productInfo__rate, .productInfo__income, .productInfo__liqType {
          p:first-child {
            font-family: "Montserrat";
            font-size: 1.125rem;
            font-weight: 400;
            letter-spacing: -0.0338rem;
          }
          p:last-child {
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 400;
            letter-spacing: -0.0338rem;
          }
        }
        .productInfo__rate {
          p:first-child {
            font-family: "Montserrat-SemiBold";
          }
        }

      }
    }
  }




  @media (max-width: 768px) {
    .productsTable {

            table {
                border: 0;
              }

              table caption {
                font-size: 1.3em;
              }

              table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
              }

              table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
              }

              table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: center;
                height: auto;
              }

              table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
              }

              table td:last-child {
                border-bottom: 0;
              }
        }
  }

