:host {
    display: block;
}
.offer-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
    width: 20.9375rem;
    border: solid 2px #eaf1fe;
    margin-right: 10px;
    position: relative;
    transition-property: transform, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    .offer-card__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 0.9375rem 1.875rem;
        .offer-card__header__title {
            display: flex;
            flex-direction: column;
            .offer-card__header__title__main {
                font-size: 1.25rem;
                font-family: 'Montserrat-SemiBold';
            }
            .toffer-card__header__title__secondary {
            }
        }
        .offer-card__header__logo {
           width: 6.25rem;
        }

    }
    .offer-card__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.9375rem 1.875rem;
        padding-bottom: 1.875rem;
        background: var(--background-secondary);
        .credit-percent {
            font-size: 10px;
            .credit-percent__title {
                font-family: 'Montserrat-SemiBold';
                font-size: 27px;
            }
            .credit-percent__subtitle {
                font-size: 12px;
            }
        }
        .credit-count {
            .credit-count__title {
                font-family: 'Montserrat-SemiBold';
                font-size: 1.5rem;
                span, b {
                    font-size: 0.75rem;
                }
            }
            .credit-count__subtitle {
              span {
                font-size: 0.75rem;
              }
            }
        }
    }
    .offer-card__navigate {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.875rem;
        height: 1.875rem;
        color: #ffffff;
        border-radius: 50%;
        background-color: var(--primary-default);
        cursor: pointer;
        position: absolute;
        bottom: -0.9375rem;
    }
&:hover {
    box-shadow: 0 1.5625rem 1.25rem rgba(94, 94, 94, 0.15);
    transform: translateY(-0.625rem);
}

}