:host {
    display: block;
}
.offer-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
    width: 335px;
    border: solid 0.125rem #eaf1fe;
    margin-right: 0.625rem;
    position: relative;
    transition-property: transform, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    .offer-card__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 15px 30px;
        .offer-card__header__title {
            display: flex;
            flex-direction: column;
            .offer-card__header__title__main {
                font-size: 20px;
                font-family: 'Montserrat-SemiBold';
            }
            .toffer-card__header__title__secondary {
            }
        }
        .offer-card__header__logo {
           width: 100px;
        }

    }
    .offer-card__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
        padding-bottom: 30px;
        background: var(--background-secondary);
        .credit-percent {
            font-size: 0.625rem;
            .credit-percent__title {
                font-family: 'Montserrat-SemiBold';
                font-size: 1.6875rem;
            }
            .credit-percent__subtitle {
                font-size: 0.75rem;
            }
        }
        .credit-count {
            .credit-count__title {
                font-family: 'Montserrat-SemiBold';
                font-size: 24px;
                span, b {
                    font-size: 12px;
                }
            }
            .credit-count__subtitle {
              span {
                font-size: 12px;
              }
            }
        }
    }
    .offer-card__navigate {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        color: #ffffff;
        border-radius: 50%;
        background-color: var(--primary-default);
        cursor: pointer;
        position: absolute;
        bottom: -15px;
    }
&:hover {
    box-shadow: 0 25px 20px rgba(94, 94, 94, 0.15);
    transform: translateY(-10px);
}

}