<div class="offer-card">
  <div class="offer-card__header">
      <div class="offer-card__header__title">
        <div class="offer-card__header__title__main">{{offer.bankName}}</div>
        <div class="offer-card__header__title__secondary">{{'~offer' | translate}}</div>
      </div>
      <div class="offer-card__header__logo">
        <img src="./assets/images/kapital-bank.png">
      </div>
  </div>
  <div class="offer-card__content">
      <div class="credit-percent">
        <div class="credit-percent__title">{{offer.creditPercent}}%</div>
        <div class="credit-percent__subtitle"> {{offer.creditPercent}}</div>
      </div>
      <div class="credit-count">
        <div class="credit-count__title"> <span>{{'~upTo' | translate}} </span> {{offer.creditAmount}} <b>AZN</b></div>
        <div class="credit-count__subtitle"><span>{{'~upToDuration' | translate}}</span> {{offer.creditDuration}}</div>
      </div>
  </div>
  <div class="offer-card__navigate"><i class="fas fa-chevron-right"></i></div>
</div>