:host {
    display: block;
}
.loanRequest {
    display: flex;
    align-items: center;
    .loanRequest__sidebar {
        background: var(--primary-default);
        width: 22.5rem;
        height: 31.25rem;
        padding: 3.125rem;
        .loanRequest__sidebar__icon {
            width: 3.75rem;
            height: 3.75rem;
        }
        .loanRequest__sidebar__title {
            padding-top: 2.5rem;
            font-size: 1.75rem;
            width: 6.25rem;
            line-height: 1.75rem;
            color: #ffffff;
            font-family: 'Montserrat-SemiBold';
        }
        .loanRequest__sidebar__subtitle {
            padding-top: 1.25rem;
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: #ffffff;
        }
    }
    .loanRequest__form {
        width: var(--loan-request-step-width);
        height: var(--loan-request-step-height);
        background: #ffffff;
        position: relative;
        .loanRequest__form__cancel {
           display: flex;
           justify-content: flex-end;
           position: absolute;
           top: calc(var(--loan-request-step-padding) / 2);
           right: calc(var(--loan-request-step-padding) / 2);
           font-size: 1.25rem;
            width: 100%;
            cursor: pointer;
            color: var(--primary-default);
        }
    }
}