<div class="loanRequest">
    <div class="loanRequest__sidebar">
      <div class="loanRequest__sidebar__icon">
        <img src="./assets/images/smile.png">
      </div>
      <div class="loanRequest__sidebar__title">
        {{'~welcome' | translate}}!
      </div>
      <div class="loanRequest__sidebar__subtitle">
          {{'~loanRequestSubtitle' | translate}}
      </div>
    </div>
    <div class="loanRequest__form">
      <div class="loanRequest__form__cancel">
          <i class="fas fa-times"></i>
      </div>
      <div class="loanRequest__form__step" *ngIf="stepIndex === 1">
          <loan-request-step-first
          (stepComplete)="onFirstStepComplete($event)"></loan-request-step-first>
      </div>
      <div class="loanRequest__form__step"  *ngIf="stepIndex === 2">
          <loan-request-step-second [firstStepData]="firstStepData"
           (stepComplete)="onSecondStepComplete()"></loan-request-step-second>
      </div>
      <div class="loanRequest__form__step"  *ngIf="stepIndex === 3">
          <loan-request-step-done></loan-request-step-done>
      </div>
    </div>
  </div>



