<loans-banner (bannerFormSubmit)="onLoanBannerFormSubmit($event)"> </loans-banner>

<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="products__request">
            <button mat-raised-button color="primary" class="products__request__btn" (click)="onRequestLoansFromAllBanks()">
              {{'~requestLoansFromAllBanks' |  translate}}
            </button>
          </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-12">
        <div class="products__table">
          <div id="loans-table-filter" class="products__table__filter">


              <form #f="ngForm">

                  <div class="products__table__filter__btn --ck-button">
                      <label>
                         <input type="checkbox" value="false" ngModel name ="withEmpReference"><span>{{'~withEmpReference' | translate |titlecase}}</span>
                      </label>
                   </div>

                  <div class="products__table__filter__btn --ck-button">
                      <label>
                         <input type="checkbox" value="false" ngModel name ="withCollateral"><span>{{'~withCollateral' | translate |titlecase}}</span>
                      </label>
                   </div>

                  <div class="products__table__filter__btn --ck-button">
                      <label>
                         <input type="checkbox" value="false" ngModel name ="withGracePeriod"><span>{{'~withGracePeriod' | translate |titlecase}}</span>
                      </label>
                   </div>

                  <div class="products__table__filter__btn --ck-button">
                      <label>
                         <input type="checkbox" value="false" ngModel name ="comissionCash"><span>{{'~commissionCash' | translate |titlecase}}</span>
                      </label>
                   </div>
                  <div class="products__table__filter__btn --ck-button">
                      <label>
                         <input type="checkbox" value="false" ngModel name ="comissionLoan"><span>{{'~commissionLoan' | translate |titlecase}}</span>
                      </label>
                   </div>

            </form>


        </div>
          <div class="products__table__content">
              <table-loader *ngIf="loading"></table-loader>
              <table id="loans-table2" class="table plus-minus" *ngIf="filteredLoanProducts && !loading">
                <thead>
                  <th [orderByColumn]="'bankName'" [sortState] = "sortState" (sortChange)="onSortChange($event)">
                    <div class="th-content">
                        {{'~bank' | translate | titlecase}}
                        <div class="tableSorting">
                          <span class="tableSorting__arrow --top">
                             <i class="fas fa-caret-down"></i>
                            </span>
                            <span class="tableSorting__arrow --down">
                              <i class="fas fa-caret-down"></i>
                            </span>
                       </div>
                    </div>
                  </th>
                  <th>
                    <div class="th-content">
                        {{'~loanName' | translate | titlecase}}
                    </div>
                  </th>
                  <th style="width: 100px"[orderByColumn]="'minRate'" [sortState] = "sortState" (sortChange)="onSortChange($event)">
                      <div class="th-content">
                       {{'~effectiveRate' | translate | titlecase}}
                       <div class="tableSorting">
                        <span class="tableSorting__arrow --top">
                           <i class="fas fa-caret-down"></i>
                          </span>
                          <span class="tableSorting__arrow --down">
                            <i class="fas fa-caret-down"></i>
                          </span>
                     </div>
                     </div>
                  </th>
                  <th   [orderByColumn]="'minAmount'" [sortState] = "sortState" (sortChange)="onSortChange($event)">
                    <div class="th-content">
                        {{'~amount' | translate | titlecase}}
                        <div class="tableSorting">
                          <span class="tableSorting__arrow --top">
                             <i class="fas fa-caret-down"></i>
                            </span>
                            <span class="tableSorting__arrow --down">
                              <i class="fas fa-caret-down"></i>
                            </span>
                       </div>
                    </div>
                  </th>

                  <th [orderByColumn]="'minMonthlyPayment'" [sortState] = "sortState" (sortChange)="onSortChange($event)">
                    <div class="th-content" >
                        {{'~monthlyPayment' | translate | titlecase}}
                        <div class="tableSorting">
                          <span class="tableSorting__arrow --top">
                             <i class="fas fa-caret-down"></i>
                            </span>
                            <span class="tableSorting__arrow --down">
                              <i class="fas fa-caret-down"></i>
                            </span>
                       </div>
                    </div>
                  </th>

                  <th>
                    <div class="th-content" *ngIf="!isMobile">
                        {{'~documents' | translate | titlecase}}
                    </div>
                  </th>
                  <!-- <th >
                    <div class="th-content" *ngIf="!isMobile">
                        {{'~requirements' | translate | titlecase}}
                    </div>
                  </th> -->
                  <th></th>
                </thead>
                <tr>
                  <td class="p-1" *ngIf="showFilters">
                    <div class="td-content --filter" >
                      <input placeholder="Bank" (input)="onFilterInput(['bankName'], $event)">
                    </div>
                  </td>
                  <td class="p-1" *ngIf="showFilters">
                    <div class="td-content --filter" >
                      <input placeholder="Loan name" (input)="onFilterInput(['loanName'], $event)">
                    </div>
                  </td>
                  <td class="p-1" *ngIf="showFilters">
                    <div class="td-content --filter" >
                      <input placeholder="Min Rate" (input)="onFilterInput(['minRate', 'maxRate'], $event)">
                    </div>
                  </td>
                  <td class="p-1" *ngIf="showFilters">
                    <div class="td-content --filter" >
                      <input placeholder="Amount" (input)="onFilterInput(['minAmount', 'maxAmount'], $event)">
                    </div>
                  </td>
                  <td class="p-1" *ngIf="showFilters">
                    <div class="td-content --filter" >
                      <input placeholder="Payment" (input)="onFilterInput(['minMonthlyPayment', 'maxMonthlyPayment'], $event)">
                    </div>
                  </td>
                  <td class="p-1" *ngIf="showFilters">
                    <div class="td-content --filter" >
                      <input placeholder="Documents"  (input)="onFilterInput(['documents'], $event)">
                    </div>
                  </td>

                </tr>
                <tbody>
                  <tr *ngFor="let loan of filteredLoanProducts" [attr.loan-id]="loan.lnID">
                    <td valign="top">
                      <div class="td-content products__table__content__bank"
                      >
                          <div class="products__table__content__bank__icon" >
                             <img  src="./assets/icons/banks/{{loan.bankID}}.svg" alt="{{loan.bankName}}" [attr.loan-img-id]="loan.lnID">
                          </div>
                          <div class="expand-icon"  (click)="onExpandToggle(loan.lnID)" [ngClass]="{'--top' : (expandedNode === loan.lnID)}">
                              <i class="fas fa-chevron-down"></i>
                          </div>
                      </div>

                    </td>

                    <td valign="top">
                      <div class="td-content">
                         {{loan.loanName | valueTranslate | titlecase}}
                      </div>
                    </td>

                    <td valign="top">
                      <div class="td-content --rate">
                         {{loan.minRate}} %
                      </div>
                    </td>

                    <td valign="top">
                      <div class=" td-content --amount" >
                        <div>
                          <span >{{loan.minAmount}}</span> {{loan.currencyCode | lowercase}}
                        -  <span >{{loan.maxAmount}}</span>  {{loan.currencyCode | lowercase}}
                           <br class="d-none d-sm-block">
                           <span>({{loan.minPeriod }} - {{loan.maxPeriod}} {{'~month' | translate}})</span>

                        </div>
                      </div>
                    </td>

                    <td valign="top">
                      <div class=" td-content" >
                        <ng-container *ngIf="loan.minMonthlyPayment && loan.maxMonthlyPayment">
                            {{loan.minMonthlyPayment }} -
                            {{loan.maxMonthlyPayment}}
                           {{loan.currencyCode | lowercase}}
                        </ng-container>

                        <ng-container *ngIf="loan.minMonthlyPayment && !loan.maxMonthlyPayment">
                            {{loan.minMonthlyPayment }}
                           {{loan.currencyCode | lowercase}}
                        </ng-container>

                        <ng-container *ngIf="!loan.minMonthlyPayment && loan.maxMonthlyPayment">
                            {{loan.maxMonthlyPayment }}
                           {{loan.currencyCode | lowercase}}
                        </ng-container>

                        </div>
                    </td>

                    <td valign="top"  *ngIf="(isMobile && (expandedNode === loan.lnID) ) || !isMobile">
                      <div class=" td-content" [ngClass]="{'table-expanded' : (expandedNode === loan.lnID) || isMobile }" >
                        <div *ngFor="let item of (loan.descriptionDoc | valueTranslate).split('\n')">
                            {{item}} <br>
                        </div>
                      </div>
                    </td>
                    <!-- <td valign="top" *ngIf="(isMobile && (expandedNode === loan.lnID) ) || !isMobile ">
                      <div class=" td-content" [ngClass]="{'table-expanded' : (expandedNode === loan.lnID) || isMobile }"
                        >
                        <div >
                         {{loan.description | valueTranslate}}
                        </div>
                      </div>
                    </td> -->
                    <td valign="top" class="pl-1 pr-1">
                      <div class="td-content row-actions" >
                          <button mat-raised-button
                          color="primary" routerLink="/home/loans/compare"
                          [queryParams]="{lnID: loan.lnID}"
                          >{{'~detailed' | translate}}</button>
                          <button mat-raised-button color="accent" [id]="loan?.lnID"
                          fly-to-cart
                           [disabled]="(canAddProductToCompare(loan?.lnID) | async)"
                            (click)="onAddProductToCompare(loan)">{{'~addToCart' | translate}}</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </div>
</div>
