<loans-banner (bannerFormSubmit)="onLoanBannerFormSubmit($event)"> </loans-banner>

<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="loans__request">
            <button mat-raised-button color="primary" class="loans__request__btn" (click)="onRequestLoansFromAllBanks()">
              {{'~requestLoansFromAllBanks' | translate}}
            </button>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="loans__table">
          <div id="loans-table-filter" class="loans__table__filter">


              <form #f="ngForm">

                  <div class="loans__table__filter__btn --ck-button">
                      <label>
                         <input type="checkbox" value="false" ngModel name ="withEmpReference"><span>{{'~withEmpReference' | translate |titlecase}}</span>
                      </label>
                   </div>

                  <div class="loans__table__filter__btn --ck-button">
                      <label>
                         <input type="checkbox" value="false" ngModel name ="withCollateral"><span>{{'~withCollateral' | translate |titlecase}}</span>
                      </label>
                   </div>

                  <div class="loans__table__filter__btn --ck-button">
                      <label>
                         <input type="checkbox" value="false" ngModel name ="withGracePeriod"><span>{{'~withGracePeriod' | translate |titlecase}}</span>
                      </label>
                   </div>

                  <div class="loans__table__filter__btn --ck-button">
                      <label>
                         <input type="checkbox" value="false" ngModel name ="comissionCash"><span>{{'~commissionCash' | translate |titlecase}}</span>
                      </label>
                   </div>
                  <div class="loans__table__filter__btn --ck-button">
                      <label>
                         <input type="checkbox" value="false" ngModel name ="comissionLoan"><span>{{'~commissionLoan' | translate |titlecase}}</span>
                      </label>
                   </div>

            </form>


        </div>
          <div class="loans__table__content">
              <table-loader *ngIf="loading"></table-loader>
              <table id="loans-table" *ngIf="!loading">
                <thead>
                  <th>
                    <div class="th-wrapper">
                        {{'~bank' | translate | titlecase}}
                    </div>
                  </th>
                  <th>
                    <div class="th-wrapper">
                        {{'~loanName' | translate | titlecase}}
                    </div>
                  </th>
                  <th>
                      <div class="th-wrapper">
                       {{'~effectiveRate' | translate | titlecase}}
                     </div>
                  </th>
                  <th>
                    <div class="th-wrapper">
                        {{'~amount' | translate | titlecase}}
                    </div>
                  </th>

                  <th>
                    <div class="th-wrapper">
                        {{'~monthlyPayment' | translate | titlecase}}
                    </div>
                  </th>

                  <th>
                    <div class="th-wrapper">
                        {{'~documents' | translate | titlecase}}
                    </div>
                  </th>
                  <th >
                    <div class="th-wrapper">
                        {{'~requirements' | translate | titlecase}}
                    </div>
                  </th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let loan of loanProducts | slice: 0: 10" [attr.loan-id]="loan.lnID">
                    <td valign="top">
                      <div class="td-content loans__table__content__bank" [ngClass]="{'--expanded' : (expandedNode === loan.lnID) || isMobile }">
                          <div class="loans__table__content__bank__icon" >
                             <img  src="./asets/icons/banks/{{loan.bankID}}.svg" onerror="this.src='./assets/icons/banks/17.svg'" [attr.loan-img-id]="loan.lnID">
                          </div>
                          <div class="loans__table__content__bank__more" *ngIf="!isMobile" (click)="onExpandToggle(loan.lnID)" [ngClass]="{'--top' : (expandedNode === loan.lnID) || isMobile }">
                              <i class="fas fa-chevron-down"></i>
                          </div>
                      </div>

                    </td>

                    <td valign="top">
                      <div class="td-content">
                         {{loan.loanName | valueTranslate | titlecase}}
                      </div>
                    </td>

                    <td valign="top">
                      <div class="td-content --rate">
                         {{loan.minRate}} %
                      </div>
                    </td>

                    <td valign="top">
                      <div class=" td-content loans__table__content__amount" [ngClass]="{'--expanded' : (expandedNode === loan.lnID) || isMobile  }">
                        <div class="loans__table__content__amount__value">

                          {{loan.minAmount }} {{loan.currencyCode | lowercase}} -  {{loan.maxAmount}}  {{loan.currencyCode | lowercase}}
                           <br class="d-none d-sm-block">
                           <span>({{loan.minPeriod }} - {{loan.maxPeriod}} {{'~month' | translate}})</span>

                        </div>
                        <div class="loans__table__content__amount__duration">
                        </div>

                      </div>
                    </td>

                    <td valign="top">
                      <div class=" td-content" >
                        <ng-container *ngIf="loan.minMonthlyPayment && loan.maxMonthlyPayment">
                            {{loan.minMonthlyPayment }} -
                            {{loan.maxMonthlyPayment}}
                           {{loan.currencyCode | lowercase}}
                        </ng-container>

                        <ng-container *ngIf="loan.minMonthlyPayment && !loan.maxMonthlyPayment">
                            {{loan.minMonthlyPayment }}
                           {{loan.currencyCode | lowercase}}
                        </ng-container>

                        <ng-container *ngIf="!loan.minMonthlyPayment && loan.maxMonthlyPayment">
                            {{loan.maxMonthlyPayment }}
                           {{loan.currencyCode | lowercase}}
                        </ng-container>

                        </div>
                    </td>

                    <td valign="top">
                      <div class=" td-content loans__table__content__documents" [ngClass]="{'--expanded' : (expandedNode === loan.lnID) || isMobile }">
                        <div class="loans__table__content__documents__item" *ngFor="let item of (loan.descriptionDoc | valueTranslate).split('\n') | slice: 0:10">
                            {{item}} <br>
                        </div>
                      </div>
                    </td>
                    <td valign="top">
                      <div class=" td-content loans__table__content__requirements" [ngClass]="{'--expanded' : (expandedNode === loan.lnID) || isMobile  }">
                        <div class="loans__table__content__requirement__item">
                         {{loan.description | valueTranslate}}
                        </div>
                      </div>
                    </td>
                    <td valign="top">
                      <div class="td-content loans__table__content__popularity" [ngClass]="{'--expanded' : (expandedNode === loan.lnID) || isMobile }">
                          <button mat-raised-button color="primary">{{'~detailed' | translate}}</button>
                          <button mat-raised-button color="accent" fly-to-cart [id]="loan?.lnID"
                           [disabled]="canAddProductToCompare(loan?.lnID)"
                            (click)="onAddProductToCompare(loan)">{{'~addToCart' | translate}}</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </div>
</div>
