:host {
    display: block;
    background: var( --background-secondary);
}
.loan-request{
    margin: 34px 0;
    width: 100%;
    .loand-request__btn {
        height: 35px;
        width: 100%;
        background-color: var(--primary-default);
        color: #fff2c2;
        font-family: 'Montserrat-Medium';
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.12px;
    }
}