<div class="container">

    <div class="row">
      <div class="col-12">

        <div class="component">

            <div class="component__header">
                {{'~debitCards' | translate}}
            </div>

            <div class="component__content">
                <div class="component__content__form">

                    <h5>{{'~chooseCard' | translate}}</h5>

                    <div class="component__content__form__fields">
                        <mat-button-toggle-group #group="matButtonToggleGroup">

                            <mat-button-toggle value="left">
                              {{'~all' | translate}}
                            </mat-button-toggle>

                            <mat-button-toggle value="left">
                              {{'~cashback' | translate}}
                            </mat-button-toggle>

                            <mat-button-toggle value="left">
                              {{'~forTravel' | translate}}
                            </mat-button-toggle>

                          </mat-button-toggle-group>
                    </div>

                  </div>
            </div>

        </div>

      </div>
    </div>

  </div>

