<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="banner-wrapper --loans">

     <div class="container custom">

        <div class="row">
            <div class="col-12">
               <div class="banner">
                   <div class="banner__title">
                     <div class="banner__title__top">
                       {{'~consumer' | translate}}
                     </div>
                     <div class="banner__title__bottom">
                       {{'~loans' | translate}}
                     </div>
                   </div>
                   <div class="container-fluid banner__fields p-0">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                            <div class="slider-group">
                                <mat-form-field class="w-100 banner__field" appearance="outline" >
                                    <input  matInput name="loanAmount" type="number" placeholder="{{'~loanAmount' | translate}}"
                                    [(ngModel)]="productFilter.loanAmount" >
                                  </mat-form-field>

                                  <mat-slider #slider class="slider" color="primary" [max]="'100000'" [min]="'0'" [step]="'1000'"
                                    name="loanAmount" [value]="slideValue"  (input) = "onSlideMove($event)">
                                  </mat-slider>
                            </div>
                        </div>

                        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                            <mat-form-field appearance="outline"  class="banner__field w-100">
                                <mat-select required name="loanCurrency" [(ngModel)]="productFilter.loanCurrency"  class="form-field">
                                  <mat-option *ngFor="let option of currCodes$ | async"
                                  [value]="option.value"
                                  >{{option.label}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="f?.controls['loanCurrency']?.invalid">{{getErrorMessage('loanCurrency')}}</mat-error>

                              </mat-form-field>
                        </div>

                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">

                        <mat-form-field appearance="outline"  class="banner__field w-100">
                            <!-- <mat-label>{{'~loanPeriod' | translate }}</mat-label> -->
                            <mat-select  name="loanPeriod"
                            [(ngModel)]="productFilter.loanPeriod"
                             class="form-field" placeholder="{{'~loanPeriod' | translate }}">
                              <mat-option *ngFor="let period of (periods$ | async)" [value]="period?.periodId"> {{period?.period}}
                              </mat-option>

                            </mat-select>
                            <mat-error *ngIf="f?.controls['loanPeriod']?.invalid">{{getErrorMessage('loanPeriod')}}</mat-error>

                          </mat-form-field>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">

                           <button mat-raised-button
                            color="primary" class="filter-submit" type="submit"
                            [ngClass]="{'is-loading': loading$ | async}"
                            [disabled]="loading$ | async"
                            >{{'~searchLoan' | translate}} </button>

                        </div>
                    </div>


                   </div>

            </div>
          </div>
        </div>


      </div>
  </div>
  <div class="container custom">

    <div class="row">
      <div class="col-12">
        <div class="products__request">
          <button mat-raised-button color="primary" type="button" class="products__request__btn"
            (click)="onRequestLoansFromAllBanks()">
            {{'~requestLoansFromAllBanks' |  translate}}
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="products__table">
          <div id="products-table-filter" class="products__table__filter">

            <button-toggle-group class="mb-2">
              <div class="banner-filter-button-toggle-group-container">

                <button-toggle class ="button-toggle-wrapper"  [(ngModel)]="productFilter.withEmpReference" name="withEmpReference" value="true">
                    <span>{{'~withEmpReference' | translate |titlecase}} </span>
                </button-toggle>

                <button-toggle class ="button-toggle-wrapper"  [isOpposite]="true"  [(ngModel)]="productFilter.withCollateral" name="withCollateral" value="true">
                    <span>{{'~withCollateral' | translate |titlecase}} </span>
                </button-toggle>

                <button-toggle class ="button-toggle-wrapper" [(ngModel)]="productFilter.withGracePeriod" name="withGracePeriod">
                    <span>{{'~withGracePeriod' | translate |titlecase}} </span>
                </button-toggle>

                <button-toggle class ="button-toggle-wrapper"  [isOpposite]="true" [(ngModel)]="productFilter.comissionLoan" name="comissionLoan">
                    <span>{{'~withoutCommission' | translate |titlecase}} </span>
                </button-toggle>


                <button-toggle [isOpposite]="true" [(ngModel)]="productFilter.comissionCash" name="comissionCash">
                  <span>{{'~comissionCash' | translate |titlecase}} </span>
              </button-toggle>

              </div>
            </button-toggle-group>

        </div>
      </div>


    </div>
  </div>
  </div>
</form>
