<div class="card">
    <div class="card__header">
        <div class="card__header__title">
            <div class="card__header__title__logo">
                <img src="./assets/icons/banks/{{offer.iconPath}}.svg">
              </div>
          <div class="card__header__title__secondary"> «Əlavə kart yarı qiymətə»</div>
        </div>
        <div class="card__header__logo">
            <i class="fab fa-cc-visa"></i>
        </div>
    </div>
    <div class="card__content">
        <div class="credit-percent">
          <div class="credit-percent__title">
                    {{offer.percent}}%
          </div>
          <div class="credit-percent__subtitle">{{'~annual' | translate}} </div>
        </div>
        <div class="credit-count">
          <div class="credit-count__title">
                      {{offer.duration}}
          </div>
          <div class="credit-count__subtitle">
                {{'~type' | translate}}
            </div>
        </div>
    </div>
    <div class="card__footer">
      <button mat-stroked-button color="primary"> {{'~detailed' | translate}}</button>
    </div>
    <!-- <div class="card__navigate"><i class="fas fa-chevron-right"></i></div> -->
  </div>