:host {
    display: block;
    margin: 10px;
}

thead {
  border-bottom: 1px solid #dcdcdc;
}
th {
    color: #5f5f5f;
    font-family: 'Montserrat-Medium';
    font-size: 0.875rem;
    font-weight: 400;
    padding-right: 1.875rem;
    padding-bottom: 7px;
}
td {
   .currencyCode {
        color: var(--secondary-default);
        font-family: 'Montserrat-SemiBold';
        font-size: 1.25rem;
        text-transform: uppercase;
        padding-right: 1.875rem;
   }
   .rate {
       display: flex;
       flex-direction: column;
       padding-right: 1.875rem;
       min-height: 5rem;
        .rate__value {
            font-family: 'Montserrat-Medium';
            font-size: 1.25rem;
            font-weight: 400;
            padding-right: 0.4375rem;
            span {
                color: #ff3c4e;
                font-size: 0.75rem;
                display: none;
            }
        }
        .rate__banks {
           display: flex;
           flex-direction: column;
           .rate__banks__item {
                color: var(--primary-default);
                font-family: 'Montserrat-Medium';
                font-size: 0.625rem;
                font-weight: 400;
                line-height: 0.8594rem;
                min-width: 9.375rem;
                @media (max-width: 576px) {
                     min-width: 5.3125rem;
                }
           }
        }
}
}
@media (max-width: 768px) {
   :host {
       width: 100%;
   }
}

@media (max-width: 576px) {
    :host {
        display: flex;
        justify-content: center;
    }
}
