:host {
    display: block;
    background-image: url('../../../../assets//images/loans-banner-cover.jpeg');
    height: 300px;
}
.banner {
    padding-top: 47px;
    padding-bottom: 184px;
    /deep/ .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #ffffff!important;
     }
    .banner__title {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        .banner__title__top {
            color: #1da329;
            font-family: "Montserrat-SemiBold";
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        .banner__title__bottom {
            color: #1da329;
            letter-spacing: -0.96px;
            font-family: "Montserrat-Medium";
            font-size: 27px;
            letter-spacing: 1px;
        }
    }
    .banner__filter {
        display: flex;
        .banner__filter__amount {
            display: flex;
            .banner__filter__amount__input {
             .banner__filter__amount__input__number {
               height: 100%;
               font-size: 14px;
              }
            }
            .banner__filter__amount__select {
                .banner__filter__amount__select__currency {
                    width: 75px;
                    font-size: 14px;
                  }
            }
        }
        .banner__filter__period {
            .banner__filter__period__select {
                font-size: 14px;
            }
            margin-left: 9px;
        }
        .banner__filter__submit {
            margin-left: 9px;
            position: relative;
            top: 12px;
            // button {
            //     width: 200px;
            //     height: 45px;
            //     border: 1px solid rgba(119, 94, 0, 0.34);
            //     background-color: var(--primary-default);
            //     color: #fff2c2;
            //     font-family: 'Montserrat-Medium';
            //     font-size: 12px;
            //     font-weight: 400;
            //     letter-spacing: -0.12px;
            // }
        }
    }
}