:host {
    display: block;
    background-image: url('../../../../assets//images/loans-banner-cover.jpeg');
    height: 18.75rem;
    background-repeat: no-repeat;
    @media (max-width: 992px) {
       background-position-x: right;
       background-position-x: -336px;
    }
    @media (max-width: 768px) {
       background-position-x: right;
       height: 21.75rem;
    }
    @media (max-width: 576px) {
           background-position-x: -590px;
    }
    @media (max-width: 450px) {
           background-position-x: -625px;
    }
}
.banner {
    padding-top: 2.9375rem;
    padding-bottom: 11.5rem;
    @media (max-width: 768px) {
        padding: 0;
    }
    .banner__filter {
        /deep/ .mat-form-field-appearance-outline .mat-form-field-outline {
            background-color: #ffffff!important;

         }
        //  /deep/  .mat-form-field-infix {
        //     border-top: 1.1em solid transparent;
        // }
    }

    .banner__title {
        display: flex;
        flex-direction: column;
        padding-bottom: 2.5rem;
        .banner__title__top {
            color: #1da329;
            font-family: "Montserrat-SemiBold";
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 0.0625rem;
        }
        .banner__title__bottom {
            color: #1da329;
            letter-spacing: -0.06rem;
            font-family: "Montserrat-Medium";
            font-size: 1.6875rem;
            letter-spacing: 0.0625rem;
        }
    }
    .banner__filter {
        display: flex;
        flex-wrap: wrap;
        .banner__filter__amount {
            display: flex;
            .banner__filter__amount__input {
             .banner__filter__amount__input__number {
               height: 100%;
               font-size: 0.875rem;
              }
            }
            .banner__filter__amount__select {
                .banner__filter__amount__select__currency {
                    width: 4.6875rem;
                    font-size: 0.875rem;
                    margin: 0 0.5625rem;
                  }
            }
        }
        .banner__filter__period {
            .banner__filter__period__select {
                font-size: 0.875rem;
            }
        }
        .banner__filter__submit {
            margin-left: 0.5625rem;
            position: relative;
            top: 0.75rem;
        }
    }
}