<form #f="ngForm" >
    <div class="banner-wrapper --debit-cards">
     <div class="container custom">
        <div class="row">
            <div class="col-12">
               <div class="banner">
                   <div class="banner__title">
                     <div class="banner__title__top">
                       {{'~debit-cards' | translate}}
                     </div>
                   </div>
            </div>
          </div>
        </div>

      </div>
  </div>

  <div class="container custom" >
    <div class="row" >
      <div class="col-12">
        <div class="products__table">
          <div id="products-table-filter" class="products__table__filter mt-4 mb-4">

              <div class="banner-filter-currency-selector">
                  <mat-select [(ngModel)]="productFilter.currencyCode" name="currencyCode">
                    <mat-option value="AZN"> AZN</mat-option>
                    <mat-option value="USD"> USD</mat-option>
                    <mat-option value="EUR"> EUR</mat-option>
                  </mat-select>
                </div>

              <div class="banner-filter-currency-selector">
                  <mat-select [(ngModel)]="productFilter.period" name="period">
                    <mat-option value="12"> 1 {{'~year' | translate}}</mat-option>
                    <mat-option value="24"> 2 {{'~year' | translate}}</mat-option>
                    <mat-option value="36"> 3 {{'~year' | translate}}</mat-option>
                    <mat-option value="48"> 4 {{'~year' | translate}}</mat-option>
                    <mat-option value="60"> 5 {{'~year' | translate}}</mat-option>
                  </mat-select>

                  <!-- <mat-select [(ngModel)]="productFilter.period" name="period">
                      <mat-option *ngFor="let option of periods$ | async" [value]="option.value">{{option.label}}
                      </mat-option>
                    </mat-select> -->
                </div>


              <button-toggle-group class="mb-2 button-toggle-group" >

                  <div class="banner-filter-button-toggle-group-container">
                      <button-toggle class="button-toggle-wrapper" [(ngModel)]="productFilter.withMiles" name="withMiles">
                          <span>{{'~withMiles' | translate |titlecase}} </span>
                      </button-toggle>

                      <button-toggle class="button-toggle-wrapper" [(ngModel)]="productFilter.withDepositRate" name="withDepositRate">
                          <span>{{'~withDepositRate' | translate |titlecase}} </span>
                      </button-toggle>

                      <button-toggle class="button-toggle-wrapper" [isOpposite]="true" [(ngModel)]="productFilter.comissionCash" name="comissionCash">
                          <span>{{'~comissionCash' | translate |titlecase}} </span>
                      </button-toggle>

                      <button-toggle class="button-toggle-wrapper" [(ngModel)]="productFilter.withCashBack" name="withCashBack">
                          <span>{{'~withCashBack' | translate |titlecase}} </span>
                      </button-toggle>
                  </div>
               </button-toggle-group>



          </div>
        </div>
      </div>


    </div>
  </div>

  </form>

