<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="banner-wrapper">

     <div class="container custom">

        <div class="row">
            <div class="col-12">
               <div class="banner">
                   <div class="banner__title">
                     <div class="banner__title__top">
                       {{'~debit-cards' | translate}}
                     </div>
                   </div>


            </div>
          </div>
        </div>


      </div>
  </div>

  </form>
