<div class="offer-card">
  <div class="offer-card__header">
      <div class="offer-card__header__title">
        <div class="offer-card__header__title__main">AzerTurk Bank</div>
        <div class="offer-card__header__title__secondary">{{'~offer' | translate}}</div>
      </div>
      <div class="offer-card__header__logo">
        <img src="./assets/images/kapital-bank.png">
      </div>
  </div>
  <div class="offer-card__content">
      <div class="deposit-percent">
        <div class="deposit-percent__title">8,00%</div>
        <div class="deposit-percent__subtitle">{{'~annual' | translate}}</div>
      </div>
      <div class="deposit-count">
        <div class="deposit-count__title"></div>
        <div class="deposit-count__subtitle">{{'~deposit-time' | translate}}</div>
      </div>
  </div>
  <div class="offer-card__actions">{{'~more-info' | translate}}</div>
</div>