<div class="card">
    <div class="card__header">
        <div class="card__header__title">
            <div class="card__header__title__logo">
                <img src="./assets/icons/banks/{{offer.iconPath}}.svg">
              </div>
          <div class="card__header__title__secondary"> «Ödəniş kartı hədiyyə»</div>
        </div>
        <div class="card__header__logo">
            <i class="fas fa-university"></i>
        </div>
    </div>
    <div class="card__content">
        <div class="credit-percent">
          <div class="credit-percent__title">
            10%
          </div>
          <div class="credit-percent__subtitle">{{'~annual' | translate}} </div>
        </div>
        <div class="credit-count">
          <div class="credit-count__title">
            36 ay
          </div>
          <div class="credit-count__subtitle">
                {{'~depositDuration' | translate}}
            </div>
        </div>
    </div>
    <div class="card__footer">
      <a mat-stroked-button color="primary" href="http://azerturkbank.az/deposits/" target="_blank" rel="noopener"> {{'~detailed' | translate}}</a>
    </div>
    <!-- <div class="card__navigate"><i class="fas fa-chevron-right"></i></div> -->
  </div>