<div class="container" *ngIf="!isMobile">
  <div class="row">
    <div class="col-12">
      <div class="productsCompare">
        <div class="productsCompare__content" *ngIf="!loading else table_loader">

          <div class="arrows">

            <button mat-mini-fab class="arrow --prev" (click)="onPrevProduct()" [disabled]="!hasPrevProduct()">
              <mat-icon inline="true">arrow_forward_ios</mat-icon>
            </button>

            <button mat-mini-fab class="arrow --next" (click)="onNextProduct()" [disabled]="!hasNextProduct()">
              <mat-icon inline="true">arrow_forward_ios</mat-icon>
            </button>

          </div>
          <div class="tables d-flex">
            <ng-container  *ngFor="let product of visibleProducts;let i=index;let first=first">
              <ng-container *ngTemplateOutlet="table__template;context:{product: product, first: first}"></ng-container>
            </ng-container>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="swiper-container" *ngIf="isMobile" [swiper]="config" style="width: 100%" #swiper >
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let product of products;let i=index;let first=first">
        <ng-container *ngTemplateOutlet="table__template;context:{product: product, first: first}"></ng-container>
    </div>
  </div>
  <div class="swiper-pagination"></div>

</div>


<ng-template #table_loader>
  <table-loader></table-loader>
</ng-template>

<ng-template #table__template let-product="product" let-first="first">
    <table class="table products">
        <thead>

          <th *ngIf="first || isMobile">
            <div class="th-content --first">
              {{'~bank' | translate | titlecase}}
            </div>
          </th>

          <th>
            <div class="th-content">
                {{product.bankName}}
            </div>
          </th>
        </thead>
        <tbody>

            <ng-container *ngFor="let row of rows">

              <ng-container [ngSwitch]="getRowType(row)" >

                  <ng-container *ngSwitchCase="'standard'">
                      <tr [attr.cdId] = "row.cdId">
                          <td *ngIf="first || isMobile">
                            <div class="td-content --first">
                              {{getRowName(row) | translate | titlecase}}
                            </div>
                          </td>
                          <td >
                            <div class="td-content --{{row}}">
                              {{product[row]}}
                            </div>
                          </td>
                        </tr>
                  </ng-container>

                  <ng-container *ngSwitchCase="'minAmount'">
                      <tr [attr.cdId] = "row.cdId">
                          <td *ngIf="first || isMobile">
                            <div class="td-content --first">
                              {{getRowName(row) | translate | titlecase}}
                            </div>
                          </td>
                          <td>
                            <div class="td-content --{{row}}">
                                {{product.minAmount }} {{product.currencyCode | lowercase}} - {{product.maxAmount}}
                                {{product.currencyCode | lowercase}}
                            </div>
                          </td>
                        </tr>
                  </ng-container>

                  <ng-container *ngSwitchCase="'minPeriod'">
                      <tr [attr.cdId] = "row.cdId">
                          <td *ngIf="first || isMobile">
                            <div class="td-content --first">
                              {{getRowName(row) | translate | titlecase}}
                            </div>
                          </td>
                          <td >
                            <div class="td-content --{{row}}">
                                {{product.minPeriod }} - {{product.maxPeriod}} {{'~month' | translate}}
                            </div>
                          </td>
                        </tr>
                  </ng-container>


                  <ng-container *ngSwitchCase="'multi-lang'">
                      <tr [attr.cdId] = "row.cdId">
                          <td *ngIf="first || isMobile">
                            <div class="td-content --first">
                              {{getRowName(row) | translate | titlecase}}
                            </div>
                          </td>
                          <td >
                            <div class="td-content --{{row}}">
                              {{product[row] | valueTranslate}}
                            </div>
                          </td>
                        </tr>
                  </ng-container>

                  <ng-container *ngSwitchCase="'document'">
                      <tr [attr.cdId] = "row.cdId">
                          <td *ngIf="first || isMobile">
                            <div class="td-content --first">
                              {{getRowName(row) | translate | titlecase}}
                            </div>
                          </td>
                          <td>
                            <div class="td-content --{{row}} --document" (click)="openDocumentDialog(product[row], getRowName(row))">
                                <i class="fas fa-file-pdf"></i>
                            </div>
                          </td>
                        </tr>
                  </ng-container>

              </ng-container>

              </ng-container>

        </tbody>
      </table>
</ng-template>