<div class="admin-module">
    <div class="admin-module__header">
      <div class="admin-module__header__moduleName">{{ '~deposits' | translate }}</div>
      <div class="admin-module__header__actions">

        <div class="admin-module__header__actions__general">
          <button [matMenuTriggerFor]="menu">
            <div class="admin-module__header__actions__general__icon">
              <i class="fas fa-cog"></i>
            </div>
            <div class="admin-module__header__actions__general__text">
              {{ '~generalActions' | translate }}
            </div>
          </button>
        </div>


        <mat-menu #menu="matMenu" class="general-actions-menu">

          <button mat-menu-item disabled = "true"  (click)="table.addData()"> {{ '~addData' | translate }}
          </button>

          <button mat-menu-item disabled = "true"   (click)="table.deleteData()"
            [disabled]="!table?.isRowSelected"> {{ '~removeSelected' | translate }}
          </button>

          <button mat-menu-item disabled = "true"  (click)="table.onPrint()"> {{ '~print' | translate }}
          </button>

          <button mat-menu-item disabled = "true" (click)="table.onExport()"> {{ '~export' | translate }}
          </button>

        </mat-menu>


      </div>
    </div>

    <div class="admin-module__content">
      <div class="native-table-wrapper">
        <!-- <ngx-native-table #table [config]="config" [editTemplate]="editer" (actionClick)="onOptClick($event)">
        </ngx-native-table> -->
      </div>
    </div>
  </div>
  <!-- <ng-template #editer let-row="row">
    <button [matMenuTriggerFor]="menu">
      <table-edit-button> </table-edit-button>
    </button>
    <mat-menu #menu="matMenu" class="table-editer-menu">
      <button mat-menu-item *rbacAllow="['1000160', 'EDIT']" (click)="onOptClick({data: row, type: 'edit'})">
        {{ '~edit' | translate }}
      </button>
      <button mat-menu-item *rbacAllow="['1000160', 'DELETE']" (click)="onOptClick({data: row, type: 'delete'})">
        {{ '~delete' | translate }}
      </button>
    </mat-menu>
  </ng-template>
   -->