<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">
            [%d{yyyy-MM-dd' 'HH:mm:ss.sss}] [%t] [%L] [%-5p] : %m%n
        </Property>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
		<RollingFile name="fileLogger" fileName="${basePath}/plusminus.log" 
		             filePattern="${basePath}/plusminus-%d{yyyy-MM-dd}-%i.log">
		    <PatternLayout>
		        <Pattern>${LOG_PATTERN}</Pattern>
		    </PatternLayout>
		    <Policies>
		        <TimeBasedTriggeringPolicy interval="1"/>
		    </Policies>
		    <DefaultRolloverStrategy max="10"/>
		</RollingFile>          
    </Appenders>
    
    <Loggers>
    	<Logger name="com.mybank" level="all">
            <AppenderRef ref="fileLogger"/>
        </Logger>
        
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
    
  
</Configuration>