<!-- <div class="slide-wrapper">

  <loan-slide *ngIf="slideIndex === 0"></loan-slide>
  <mortgage-slide *ngIf="slideIndex === 1"></mortgage-slide>

     <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="slide-wrapper__actions">
            <div class="slide-wrapper__actions__prev" (click)="onSlidePrev()">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="slide-wrapper__actions__next" (click)="onSlideNext()">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> -->

<div  class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
          <loan-slide ></loan-slide>
      </div>
      <div class="swiper-slide">
          <mortgage-slide ></mortgage-slide>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
