<div class="formCancel" (click)= "close.next()">
    <i class="fas fa-times"></i>
</div>

<div class="requestDone">
  <div class="requestDone__img animated bounce">
    <img  src="./assets/images/plus-secondary-color.png" [@bounce]="bounce">
  </div>
  <div class="requestDone__msg">
    {{'~loanRequestSuccessMsg' | translate}} !
  </div>
  <div class="requestDone__rate">
    <div class="requestDone__rate__title">
      {{'~rateUs' | translate}}
    </div>
    <div class="requestDone__rate__input">
        <rating (ratingClick)="onVoteMe($event)"></rating>
    </div>
  </div>
</div>