
<upload-input-loader *ngIf="!loaded">

</upload-input-loader>

<div class="upload-input" [ngStyle]="{'display': loaded ? 'block' : 'none'}">
  <div class="upload-input__img">

      <ng-container *ngIf="!base64">
          <img [src]="defaultImgUrl" (load)="onLoaded()" >
        </ng-container>

        <ng-container *ngIf="base64">
          <img src="{{base64}}" (load)="onLoaded()" (error)="this.src = defaultImgUrl" >
        </ng-container>

  </div>
   <div class="upload-input__corners">
      <div class="arrow"></div>
      <div class="arrow-2"></div>
   </div>

   <div class="upload-input__actions">
      <p *ngIf="!base64" (click)="onUpload()">{{'~uploadImg' | translate}}</p>
      <p *ngIf="base64" class="remove-img" (click)="onRemoveFile(base64)">{{'~removeImg' | translate}}</p>
   </div>

</div>