:host {
    display: block;
    box-shadow: 0.0625rem 0.125rem 0.6875rem 0rem rgba(0, 0, 0, 0.2);
}
.calculator {
    display: flex;
    .calculator__header {
        display: flex;
        flex-direction: column;
        background: var(--primary-default);
        padding: 1.0625rem;
        color:#ffffff;
        .calculator__header__title {
            font-size: 1.125rem;
            font-family: "Montserrat-SemiBold";
        }
        .calculator__header__subtitle {
            font-size: 0.75rem;
        }
    }
    .calculator__input {
        flex: 1;
        display: flex;
        padding: 1.0625rem;
        background:#ffffff;
        .exchange-arrow {
            margin: 1.4375rem 1.25rem;
            font-size: 1.25rem;
            display: flex;
            color: var(--secondary-default);
        }
        .calculator__input__in {
        }
        .calculator__input__in, .calculator__input__out {
            display: flex;
             flex-wrap: wrap;
             ::ng-deep .mat-form-field-wrapper {
                 padding: 0!important;
             }
        }
        .calculator__input__amount{
          ::ng-deep  input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
        }
        .calculator__input__currency {
            width: 75px;
            margin-left: 0.4375rem;
        }
    }
    .calculator__result {

    }
}


@media (max-width: 992px) {
    .calculator {
        flex-direction: column;
        .calculator__input {
            flex-direction: column;
            .exchange-arrow {
                margin:  10px 80px;
            }
        }
    }
}
@media (max-width: 576px) {
    .calculator {
        .calculator__input {
            .calculator__input__currency {
                width: auto;
                margin: 0;
            }
        }
    }
}