<div class="sidebar">
    <div class="sidebar__structure">
      <div class="sidebar__structure__photo">
          <i class="fas fa-smile"></i>
      </div>
      <div class="sidebar__structure__name">
        <p>User Name</p>
      </div>
    </div>

    <div class="sidebar__modules">

        <div class="modules-list">
             <a class="module"  routerLink= "/admin/loans"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
               <div class="icon">
                  <i class="fab fa-sketch"></i>
               </div>
               <p  class="link">Loans </p>
             </a>

             <a class="module"  routerLink= "/admin/deposits"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
               <div class="icon">
                  <i class="fab fa-sketch"></i>
               </div>
               <p  class="link">Deposits </p>
             </a>

             <a class="module"  routerLink= "/admin/credit-cards"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
               <div class="icon">
                  <i class="fab fa-sketch"></i>
               </div>
               <p  class="link">Credit Cards </p>
             </a>
         </div>
    </div>


    <div class="sidebar__copyrights">
      <div class="copyright">
       <div class="copyright__logo">
          <i class="fab fa-sketch"></i>
         </div>
         <div class="copyright__info">
            <div class="copyright__info__text --primary">Data Administration</div>
            <div class="copyright__info__text  --secondary">PlusMinus™</div>
         </div>
      </div>
     </div>

  </div>
