<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header">
        <div class="header__icon" routerLink="/">
          <img src="./assets/icons/brand.svg" />
        </div>

        <div class="header__lang-switch">
          <button mat-button [matMenuTriggerFor]="langMenu">
            {{ defaultLang | uppercase }}
          </button>
          <mat-menu #langMenu="matMenu">
            <button mat-menu-item (click)="onLangChange('en')">EN</button>
            <button mat-menu-item (click)="onLangChange('ru')">RU</button>
            <button mat-menu-item (click)="onLangChange('az')">AZ</button>
          </mat-menu>
        </div>

        <div class="header__links d-lg-none">
          <button mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>{{ '~deposits' | translate }}</button>
            <button mat-menu-item [routerLink]="['loans']" routerLinkActive="active">{{ '~loans' | translate }}</button>
            <button mat-menu-item>{{ '~credit-cards' | translate }}</button>
            <button mat-menu-item>{{ '~debit-cards' | translate }}</button>
            <button mat-menu-item>{{ '~mobile-tariffs' | translate }}</button>
            <button mat-menu-item>{{ '~exchange-rates' | translate }}</button>
          </mat-menu>
        </div>
        <div class="header__links d-none d-lg-flex">
          <a class="link">
            {{ '~deposits' | translate }}
          </a>
          <a class="link" [routerLink]="['loans']" routerLinkActive="active"  >
            {{ '~loans' | translate }}
          </a>
          <a class="link">
            {{ '~credit-cards' | translate }}
          </a>
          <a class="link">
            {{ '~debit-cards' | translate }}
          </a>
          <a class="link">
            {{ '~auctions' | translate | titlecase}}
          </a>
          <a class="link">
            {{ '~exchange-rates' | translate }}
          </a>

          <a class="link">
            {{ '~more' | translate }}
          </a>
        </div>

        <div class="header__scales">
          <img src="./assets/icons/scales.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
