<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header">
        <div class="header__icon" routerLink="/">
          <img src="./assets/icons/brand.svg" />
        </div>

        <div class="header__lang-switch">
          <button mat-button [matMenuTriggerFor]="langMenu">
            {{ defaultLang | uppercase }}
          </button>
          <mat-menu #langMenu="matMenu">
            <button mat-menu-item (click)="onLangChange('en')">EN</button>
            <button mat-menu-item (click)="onLangChange('ru')">RU</button>
            <button mat-menu-item (click)="onLangChange('az')">AZ</button>
          </mat-menu>
        </div>

        <div class="header__links d-lg-none">
          <button class="header__links__menu" mat-button [matMenuTriggerFor]="menu">
              <i class="fas fa-bars"></i>
          </button>
          <!-- <button  class="header__links__menu" mat-button [matMenuTriggerFor]="menu">
              <mat-icon>format_align_right</mat-icon>
            </button> -->

          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['deposits']" routerLinkActive="active" >{{ '~deposits' | translate }} </button>
            <button mat-menu-item [routerLink]="['loans']" routerLinkActive="active">{{ '~loans' | translate }}</button>
            <button mat-menu-item [routerLink]="['credit-cards']">{{ '~credit-cards' | translate }}</button>
            <button mat-menu-item [disabled]="true">{{ '~debit-cards' | translate }}</button>
            <button mat-menu-item [routerLink]="['mortgage']">{{ '~mortgage' | translate }}</button>
            <!-- <button mat-menu-item [disabled]="true">{{ '~auctions' | translate }}</button> -->
            <button mat-menu-item [routerLink]="['exchange-rates']" routerLinkActive="active" >{{ '~exchange-rates' | translate }}</button>
          </mat-menu>
        </div>
        <div class="header__links d-none d-lg-flex">
          <a class="link" [routerLink]="['deposits']" routerLinkActive="active">
            {{ '~deposits' | translate }}
          </a>
          <a class="link" [routerLink]="['loans']" routerLinkActive="active"  >
            {{ '~loans' | translate }}
          </a>
          <a class="link" [routerLink]="['credit-cards']" routerLinkActive="active"  >
            {{ '~credit-cards' | translate }}
          </a>
          <a class="link disabled">
            {{ '~debit-cards' | translate }}
          </a>
          <a class="link" [routerLink]="['mortgage']" routerLinkActive="active" >
            {{ '~mortgage' | translate | titlecase}}
          </a>
          <!-- <a class="link disabled">
            {{ '~auctions' | translate | titlecase}}
          </a> -->
          <a class="link" [routerLink]="['exchange-rates']" routerLinkActive="active">
            {{ '~exchange-rates' | translate }}
          </a>

        </div>

        <div class="header__loanCompare"  id="compare-cart">
            <compare-preview > </compare-preview>
            <!-- <compare-preview *ngIf = "((productList$ | async)?.length > 0)"> </compare-preview> -->
        </div>
      </div>
    </div>
  </div>
</div>
