:host {
    display: flex;
    flex-wrap: wrap;
}

@mixin loader-text {
    background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
    border-radius: 0.9375rem;
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
    @keyframes pulse {
      0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: -135% 0%
      }
    }
  }

  .item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      margin-right: 15px;
      .item__checkbox {
          width: 16px;
          height: 16px;
          margin-right: 10px;
          @include loader-text();
      }
      .item__icon {
          width: 150px;
          height: 30px;
          @include loader-text();
      }
  }