:host {
    display: block;
}
.loansCompare {
    .loansCompare__content {

        .loansCompare__content__table {
                table-layout: fixed;
                position: relative;

                th:first-child {
                    width: 130px;
                }
                .th-content, .td-content {
                    width: 15.625rem;
                    max-height: 8.75rem;
                    overflow: hidden;
                    transition: max-height 300ms ease-in;
                    &.--first {
                        width: 130px;
                    }
                    &.--expanded {
                        max-height: 62.5rem
                    }
                }

        }
    }
}

.arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 90px;
    z-index: 10;
    height: 0;

    .arrow {
        font-size: 18px;
        &.--prev {
          transform: translateX(-25px) rotateY(180deg) ;
        }
        &.--next {
        transform: translateX(25px);
        }
    }
}
.mobileTable__td-content {
    max-height: 8.75rem;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
    &.--documents, &.--requirements {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    &.--expanded {
        max-height: 62.5rem
    }
}
.readMore {
    padding-top: 0.9375rem;
    cursor: pointer;
    color: var(--primary-default);
    transition: transform 300ms ease-in-out;
    &.--top {
        transform: rotateX(180deg);
    }
}
@media (max-width: 576px) {
    .loansCompare {
        .loansCompare__content {

            .loansCompare__content__table {
                th:first-child {
                    width: 100px;
                }
                .th-content, .td-content {
                    width: 150px;
                    &.--first {
                        width: 100px;
                    }
                }
            }

        }
    }
    .arrows {
      .arrow {
        &.--prev {
            transform: translateX(0px) rotateY(180deg) ;
          }
          &.--next {
          transform: translateX(0px);
          }
      }
    }
}