<div class="container" *ngIf="!isMobile">
  <div class="row">
    <div class="col-12">
      <div class="productsCompare">
        <div class="productsCompare__content" *ngIf="!loading else table_loader">

          <div class="arrows">

            <button mat-mini-fab class="arrow --prev" (click)="onPrevProduct()" [disabled]="!hasPrevProduct()">
              <mat-icon inline="true">arrow_forward_ios</mat-icon>
            </button>

            <button mat-mini-fab class="arrow --next" (click)="onNextProduct()" [disabled]="!hasNextProduct()">
              <mat-icon inline="true">arrow_forward_ios</mat-icon>
            </button>

          </div>
          <div class="tables d-flex">
            <ng-container  *ngFor="let product of visibleProducts;let i=index;let first=first">
              <ng-container *ngTemplateOutlet="table__template;context:{product: product, first: first}"></ng-container>
            </ng-container>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="swiper-container" [swiper]="config" style="width: 100%"  *ngIf="isMobile" style="width: 100%" #swiper >
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let product of products;let i=index;let first=first">
        <ng-container *ngTemplateOutlet="table__template;context:{product: product, first: first}"></ng-container>
    </div>
  </div>
  <div class="swiper-pagination"></div>

</div>



<ng-template #table_loader>
  <table-loader></table-loader>
</ng-template>

<ng-template #table__template let-product="product" let-first="first">
    <table class="table plus-minus products">
        <thead>
          <th *ngIf="first || isMobile">
            <div class="th-content --first">
              {{'~bank' | translate | titlecase}}
            </div>
          </th>
          <th >
            <div class="th-content">
                {{product.bankName}}
            </div>
          </th>
        </thead>
        <tbody>

          <tr>
            <td *ngIf="first || isMobile">
              <div class="td-content --first">
                {{'~effectiveRate' | translate | titlecase}}
              </div>
            </td>
            <td >
              <div class="td-content">
                {{product.minRate}} %
              </div>
            </td>
          </tr>

          <tr>
            <td *ngIf="first || isMobile">
              <div class="td-content --first">
                {{'~loanAmount' | translate}}
              </div>
            </td>
            <td >
              <div class="td-content">
                {{product.minAmount }} {{product.currencyCode | lowercase}} - {{product.maxAmount}}
                {{product.currencyCode | lowercase}}
              </div>
            </td>
          </tr>

          <tr>
            <td *ngIf="first || isMobile">
              <div class="td-content --first">
                {{'~productPeriod' | translate}}
              </div>
            </td>
            <td >
              <div class="td-content">
             {{product.minPeriod }} - {{product.maxPeriod}} {{'~month' | translate}}
              </div>
            </td>
          </tr>

          <tr>
            <td *ngIf="first || isMobile">
              <div class="td-content --first">
                  {{'~productName' | translate | titlecase}}
              </div>
            </td>
            <td >
              <div class="td-content">
                  {{product.loanName | valueTranslate}}
              </div>
            </td>
          </tr>

          <tr>
            <td *ngIf="first || isMobile">
              <div class="td-content --first">
                  {{'~minSalary' | translate | titlecase}}
              </div>
            </td>
            <td >
              <div class="td-content">
                  {{product.minSalary}}
              </div>
            </td>
          </tr>

          <tr>
            <td *ngIf="first || isMobile">
              <div class="td-content --first">
                  {{'~withGracePeriod' | translate | titlecase}}
              </div>
            </td>
            <td class="td-content" >
              <div class="td-content">
                  {{product.withGracePeriod}}

              </div>
            </td>
          </tr>

          <tr>
            <td *ngIf="first || isMobile">
              <div class="td-content --first">
                  {{'~withCollateral' | translate | titlecase}}
              </div>
            </td>
            <td >
              <div class="td-content">
                  {{product.withCollateral}}
              </div>
            </td>
          </tr>

          <tr>
            <td *ngIf="first || isMobile">
              <div class="td-content --first">
                  {{'~commissionCash' | translate}}

              </div>
            </td>
            <td >
                <div class="td-content ">
                    {{product.comissionCash}}
                </div>

            </td>
          </tr>
          <tr>
            <td *ngIf="first || isMobile">
              <div class="td-content --first">
                  {{'~commissionLoan' | translate}}

              </div>
            </td>
            <td >
                <div class="td-content">
                    {{product.comissionLoan}}
                </div>

            </td>
          </tr>

          <tr>
            <td *ngIf="first || isMobile">
                <div class="td-content --first">
                    {{'~withEmpReference' | translate}}
                </div>
              </td>
              <td >
                <div class="td-content">
                    {{product.withEmpReference}}
                </div>
              </td>
            </tr>

          <tr>
            <td *ngIf="first || isMobile">
                <div class="td-content --first">
                    {{'~age' | translate}}
                </div>
              </td>
              <td >
                <div class="td-content">
                    {{'~age' | translate}}
                </div>
              </td>
            </tr>

          <tr>
            <td *ngIf="first || isMobile">
                <div class="td-content --first">
                  {{'~description' | translate}}
                </div>
              </td>
              <td >
                  <div class="td-content --documents" (click)="openDocumentDialog(product.description, '~description')">
                      <i class="fas fa-file-pdf"></i>
                  </div>
              </td>
            </tr>

        </tbody>
      </table>
</ng-template>