<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="banner-wrapper">

     <div class="container">

        <div class="row">
            <div class="col-12">
               <div class="banner">
                   <div class="banner__title">
                     <div class="banner__title__top">
                     </div>
                     <div class="banner__title__bottom">
                       {{'~deposits' | translate}}
                     </div>
                   </div>
                   <div class="container-fluid banner__fields p-0">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                            <div class="slider-group">
                                <mat-form-field class="w-100 banner__field" appearance="outline" >
                                    <input required matInput name="slideValue" type="number" placeholder="{{'~depositAmount' | translate}}"
                                      [(ngModel)]="slideValue">
                                  </mat-form-field>

                                  <mat-slider class="slider" color="primary" [max]="'100000'" [min]="'0'" [step]="'1000'" ngModel
                                    name="depositAmount" [(ngModel)]="slideValue" (input)="onSlideMove($event)">
                                  </mat-slider>
                            </div>
                        </div>

                        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                            <mat-form-field appearance="outline"  class="banner__field w-100">
                                <mat-select required name="depositCurrency" [ngModel]="depositCurrency" class="form-field">
                                  <mat-option *ngFor="let option of currCodes$ | async"
                                  [value]="option.value"
                                  >{{option.label}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="f?.controls['depositCurrency']?.invalid">{{getErrorMessage('depositCurrency')}}</mat-error>

                              </mat-form-field>
                        </div>

                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">

                        <mat-form-field appearance="outline"  class="banner__field w-100">
                            <mat-select required name="depositPeriod" ngModel class="form-field" placeholder="{{'~depositPeriod' | translate }}">
                              <mat-option *ngFor="let period of (depositPeriods$  | async)" [value]="period?.periodId"> {{period?.period}}
                              </mat-option>

                            </mat-select>
                            <mat-error *ngIf="f?.controls['depositPeriod']?.invalid">{{getErrorMessage('depositPeriod')}}</mat-error>

                          </mat-form-field>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">

                           <button mat-raised-button color="primary" class="filter-submit" type="submit">{{'~searchDeposit' | translate}} </button>

                        </div>
                    </div>


                   </div>

            </div>
          </div>
        </div>


      </div>
  </div>

</form>
