<div class="container contact">

  <div class="row">
    <div class="col-12 p-0">
        <div class="contact__header">
            {{'~contact' | translate}}
        </div>
    </div>
  </div>

  <div class="row contact__content">
    <div class="col-12 col-md-6">
       <h4>{{'~contactUs' | translate}}</h4>
        <form  #f="ngForm"  (ngSubmit) ="onSubmit()" class="contact__content__form">

            <div class="telInput">

                <mat-form-field appearance="outline" class="telInput__telPrefix">
                    <mat-select [(value)]="inputPrefix">
                      <mat-option  [value]="'50'">
                        050
                      </mat-option>
                      <mat-option  [value]="'51'">
                        051
                      </mat-option>
                      <mat-option  [value]="'55'">
                        055
                      </mat-option>
                      <mat-option  [value]="'70'">
                        070
                      </mat-option>
                      <mat-option  [value]="'77'">
                        077
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="telInput__number" >
                      <mat-label>{{'~fillTelNumber' | translate }}</mat-label>
                      <input matInput ngModel
                      name="cusMobilePhone" type="tel"
                      required
                      minlength="7"
                      maxlength="7"
                      (input)="onTelInput($event)"
                      #telField ="matInput"
                      >
                      <mat-error *ngIf="form?.controls['cusMobilePhone']?.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>{{'~contactFormSubject' | translate}}</mat-label>
                <input matInput ngModel name="messageSubject" required >
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>{{'~contactFormText' | translate}}</mat-label>
                  <textarea matInput
                           ngModel name="messageBody"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="10"
                            cdkAutosizeMaxRows="20"
                            required
                            ></textarea>
                </mat-form-field>

                <button
                  mat-raised-button color="accent"
                  [ngClass]="{'is-loading': loading}"
                  [disabled]="loading || isSent"
                  >{{'~send' | translate | uppercase}}</button>
           </form>
    </div>

    <div class="col-12 col-md-6">
        <div class="contact__content__info">

          <h4>{{'~contacts' | translate}}</h4>

          <h5>{{'~clientSupportService' | translate}}</h5>
          <p> +994 50 300 33 23 </p>
          <p> {{'~clientSupportWeekDays' | translate}}</p>
          <p> info@plusminus.az</p>

          <h5>{{'~clientSupportAdvertising' | translate}}</h5>
          <p>order@plusminus.az</p>

          <h5> {{'~follow-us' | translate}}</h5>
          <div class="social-follow">

              <div class="social-follow__items">
                <a class="follow-item" href=" https://www.instagram.com/plusminus_az" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>

                <a class="follow-item" href=" https://www.facebook.com/plusminus.az" target="_blank">
                  <i class="fab fa-facebook-f"></i>
              </a>

                <a class="follow-item" href="https://www.linkedin.com/company/plusminus-az" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
              </div>
          </div>

        </div>
    </div>
  </div>

</div>