:host {
    display: block;

}

.loanRequest__form__step__item {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: calc(var(--loan-request-step-first-width));
    height: calc(var(--loan-request-step-first-height));
    padding: var(--loan-request-step-padding);
    .loanRequest__form__step__item__header {
        display: flex;
        flex-direction: column;
        .loanRequest__form__step__item__header__title {
            font-family: 'Montserrat-Medium';
            font-size: 1.125rem;
            font-weight: 400;
            letter-spacing: -0.0112rem;
            letter-spacing: -0.0112rem;
        }
        .loanRequest__form__step__item__header__subtitle {
            color: #7f7f7f;
        }
    }
    .loanRequest__form__step__item__content {
        flex:1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .telInput {
            display: flex;
            width: 100%;
            font-size: 1rem;
            .telInput__telPrefix {
                width: 5.125rem;
            }
            .telInput__number {
                flex: 1;
            }
            @media (max-width: 776px) {
                font-size:0.75rem;
            }
        }
    }
    .loanRequest__form__step__item__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 2.9375rem;
        .loanRequest__form__step__item__footer__checkbox {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            @media (max-width: 768px) {
                margin-bottom: 7px;
            }
        }
       .loanRequest__form__step__item__footer__next {
            display: flex;
            justify-content: flex-end;
       }
    }
}
